<form autocomplete="off">
  <section class="form-body">
    <h3>Behavior</h3>
    <div class="form-group">
      <label>Remove Used Misfortune</label>
      <input type="checkbox" name="removeUsedMisfortune" {{#if removeUsedMisfortune}}checked{{/if}} />
      <p class="notes">Whether used Misfortune points are removed from the game or transform to Fortune Points again.
      </p>
    </div>
    <div class="form-group">
      <label>Alert on Point Usage</label>
      <select name="notifications">
        {{#each choices.notifications}}
        <option value="{{value}}" {{selected}}>{{label}}</option>
        {{/each}}
      </select>
    </div>
    <h3>Appearance</h3>
    <div class="form-group">
      <label>Fortune Tracker Size</label>
      <select name="size">
        {{#each choices.size}}
        <option value="{{value}}" {{selected}}>{{label}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label>Fortune Token Image</label>
      <div class="flexrow">
        <input type="text" name="fortunePath" value="{{fortunePath}}" />
        {{filePicker target="fortunePath" type="image"}}
      </div>

    </div>
    <div class="form-group">
      <label>Misfortune Token Image</label>
      <div class="flexrow">
        <input type="text" name="misfortunePath" value="{{misfortunePath}}" />
        {{filePicker target="misfortunePath" type="image"}}
      </div>
    </div>
  </section>
</form>