<div>
  <label>{{localize "ZWEI.actor.items.professionaltrait"}}:</label>
  <a class="fetch-item" data-item-id="{{professionalTrait.linkedId}}">{{professionalTrait.name}}</a>
  <br />
  <label>{{localize "ZWEI.actor.items.specialtrait"}}:</label>
  {{#if specialTrait.name}}
  <a class="fetch-item" data-item-id="{{specialTrait.linkedId}}">{{specialTrait.name}}</a>
  {{else}} - {{/if}} <br />
  <label>{{localize "ZWEI.actor.items.drawback"}}:</label>
  {{#if drawback.name}}
  <a class="fetch-item" data-item-id="{{drawback.linkedId}}">{{drawback.name}}</a>
  {{else}} - {{/if}}
</div>
<div data-testid="skills{{tier}}">
  <label>{{localize "ZWEI.actor.items.skillranks"}}:</label>
  {{#each skillRanks as | skillData i |}}
  <a
    data-purchase-type="skillRanks"
    data-purchase-index="{{i}}"
    class="purchase-link {{#if skillData.purchased}} purchased {{else}} not-purchased {{/if}}"
  >
    {{zhLocalizeConditional "ZWEI.actor.skills." skillData.name}} </a
  >{{#unless @last}}<span>,</span>{{/unless}} {{/each}}
</div>
<div data-testid="advances{{tier}}">
  <label>{{localize "ZWEI.actor.items.bonusadvances"}}:</label>
  {{#each bonusAdvances as | advancesData i |}}
  <a
    data-purchase-type="bonusAdvances"
    data-purchase-index="{{i}}"
    class="purchase-link {{#if advancesData.purchased}} purchased {{else}} not-purchased {{/if}}"
    >[{{localize (zhConcat "ZWEI.actor.bonusesabbr." (zhLowerCaseBrackets advancesData.name))}}]</a
  >
  {{#unless @last}}<span>,</span>{{/unless}} {{/each}}
</div>

<div data-testid="talents{{tier}}">
  <label>{{localize "ZWEI.actor.items.talents"}}:</label>
  {{#each talents as | talentsData i |}}
  <a
    data-purchase-type="talents"
    data-purchase-index="{{i}}"
    data-item-id="{{talentsData.linkedId}}"
    class="purchase-link fetch-item {{#if talentsData.linkedId}}{{#if talentsData.purchased}} purchased {{else}} not-purchased {{/if}} {{else}}duplicate{{/if}}"
    >{{talentsData.name}}
    
  </a>
  {{#unless @last}}<span>,</span>{{/unless}} {{/each}}
</div>
