<label>{{localize (zhConcat "ZWEI.actor.items." "Reagents")}}:</label> {{{zhProcessRuleText (zhLocalize rules.reagents)}}}<br />
<label>{{localize (zhConcat "ZWEI.actor.items." "Condition")}}:</label> {{{zhProcessRuleText (zhLocalize rules.condition)}}}<br />
<label>{{localize (zhConcat "ZWEI.actor.items." "Consequences")}}:</label> {{{zhProcessRuleText (zhLocalize rules.consequences)}}}<br />
<label>{{localize (zhConcat "ZWEI.actor.items." "Ritual Effects")}}:</label>
{{{zhProcessRuleText (zhLocalize rules.effect)}}}