<label>{{localize "ZWEI.actor.items.reagents"}}:</label> {{{zhProcessRuleText (zhLocalize rules.reagents)}}}<br />
<label>{{localize "ZWEI.actor.items.condition"}}:</label> {{{zhProcessRuleText (zhLocalize rules.condition)}}}<br />
<label>{{localize "ZWEI.actor.items.consequences"}}:</label> {{{zhProcessRuleText (zhLocalize rules.consequences)}}}<br />
<label>{{localize "ZWEI.actor.items.ritualeffects"}}:</label>
{{{zhProcessRuleText (zhLocalize rules.effect)}}}