<label>{{localize "ZWEI.actor.items.reagents"}}:</label> {{{item.html.rules.reagents}}}<br />
<label>{{localize "ZWEI.actor.items.condition"}}:</label> {{{item.html.rules.condition}}}<br />
<label>{{localize "ZWEI.actor.items.consequences"}}:</label> {{{item.html.rules.consequences}}}<br />
<label>{{localize "ZWEI.actor.items.ritualeffects"}}:</label>
{{{item.html.rules.effect}}}