<div class="separator"><label>{{localize "ZWEI.actor.items.tradition"}}:</label> {{tradition}} </div>
<div class="separator"><label>{{localize "ZWEI.actor.items.reagents"}}:</label> {{{item.html.rules.reagents}}}</div>
<div class="separator"><label>{{localize "ZWEI.actor.items.effect"}}:</label> {{{item.html.rules.effect}}}
<div class="separator"><label>{{localize "ZWEI.chatskill.criticalsuccess"}}:</label> {{{item.html.rules.criticalSuccess}}} </div>
<div class="separator"><label>{{localize "ZWEI.chatskill.criticalfailure"}}:</label> {{{item.html.rules.criticalFailure}}} </div>