<label>Tradition:</label> {{tradition}} <br />
<label>Reagents:</label> {{{zhProcessRuleText (zhLocalize rules.reagents)}}}<br />
<label>Effect:</label> {{{zhProcessRuleText (zhLocalize rules.effect)}}} <br />
<label>Critical Success:</label> {{{zhProcessRuleText (zhLocalize rules.criticalSuccess)}}} <br />
<label>Critical Failure:</label> {{{zhProcessRuleText (zhLocalize rules.criticalFailure)}}} <br />