<div class="separator"><label>{{localize "ZWEI.actor.items.tradition"}}:</label> {{tradition}} </div>
<div class="separator"><label>{{localize "ZWEI.actor.items.reagents"}}:</label> {{{zhProcessRuleText (zhLocalize rules.reagents)}}}</div>
<div class="separator"><label>{{localize "ZWEI.actor.items.effect"}}:</label> {{{zhProcessRuleText (zhLocalize rules.effect)}}} </div>
<div class="separator"><label>{{localize "ZWEI.chatskill.criticalsuccess"}}:</label> {{{zhProcessRuleText (zhLocalize rules.criticalSuccess)}}} </div>
<div class="separator"><label>{{localize "ZWEI.chatskill.criticalfailure"}}:</label> {{{zhProcessRuleText (zhLocalize rules.criticalFailure)}}} </div>