<label>{{localize "ZWEI.actor.items.tradition"}}:</label> {{tradition}} <br />
<label>{{localize "ZWEI.actor.items.reagents"}}:</label> {{{zhProcessRuleText (zhLocalize rules.reagents)}}}<br />
<label>{{localize "ZWEI.actor.items.effect"}}:</label> {{{zhProcessRuleText (zhLocalize rules.effect)}}} <br />
<label>{{localize "ZWEI.chatskill.criticalsuccess"}}:</label> {{{zhProcessRuleText (zhLocalize rules.criticalSuccess)}}} <br />
<label>{{localize "ZWEI.chatskill.criticalfailure"}}:</label> {{{zhProcessRuleText (zhLocalize rules.criticalFailure)}}} <br />