{{zhPrice price}}
{{#if (zhLocalize description)}}
  <br />
  <label>{{localize (zhConcat "ZWEI.actor.items." "Description")}}:</label> {{{zhProcessRuleText (zhLocalize description)}}}
{{/if}}
{{#if (zhLocalize rules.effect)}}
  <br />
  <label>{{localize (zhConcat "ZWEI.actor.items." "Effect")}}:</label> {{{zhProcessRuleText (zhLocalize rules.effect)}}}
{{/if}}