{{zhPrice price}}
<br />
{{#if (zhLocalize description)}}
  <div class="separator">
  <label>{{localize "ZWEI.actor.items.description"}}:</label> {{{zhProcessRuleText (zhLocalize description)}}}
  </div>
{{/if}}
{{#if (zhLocalize rules.effect)}}
  <div class="separator">
  <label>{{localize "ZWEI.actor.items.effect"}}:</label> {{{zhProcessRuleText (zhLocalize rules.effect)}}}
  </div>
{{/if}}