<label>{{localize "ZWEI.actor.items.damage"}}:</label> <span class="inject-data">{{damage.formula}}</span><br />
<label>{{localize "ZWEI.actor.items.associatedskill"}}:</label> {{localize (zhConcat "ZWEI.actor.skills." (zhLowerCaseSpaces associatedSkill))}}<br />
<label>{{localize "ZWEI.actor.items.type"}}:</label> {{weaponType}}<br />
<label>{{localize "ZWEI.actor.items.qualities"}}: </label>
{{#if qualities.arrayOfValues}}
{{#each qualities.arrayOfValues as | qualityData idx |}}
<a class="js-display-quality">{{qualityData}}</a>{{#unless @last}}<span>, </span>{{/unless}}
{{/each}}
{{else}}
<span> - </span>
{{/if}} <br />
{{zhPrice price}}