<h2>{{localize "ZWEI.othermenues.systemdoc"}}</h2>
<ul>
  <li>{{localize "ZWEI.othermenues.rollautomations"}}
    <ul>
      <li>{{localize "ZWEI.othermenues.skilltests"}}</li>
      <li>{{localize "ZWEI.othermenues.weapontests"}}</li>
      <li>{{localize "ZWEI.othermenues.magicktests"}}</li>
    </ul>
  </li>
  <li>{{localize "ZWEI.settings.ftsettings.title"}}</li>
  <li>{{localize "ZWEI.othermenues.thirdparty"}}</li>
</ul>