<header class="actor-sheet-header">
  <figure>
    <img class="profile-image peril-tracker" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
  </figure>
  <section class="character-info">
    <header>
      <h1>
        <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name">
      </h1>
      {{#unless limited}}
      <aside class="character-rp flexcol">
        <label class="rp-title"> Reward Points</label>
        <div class="rp-content flexrow">
          <input class="rp-spent" type="number" name="data.rewardPoints.current" value="{{data.rewardPoints.current}}"
            {{#rpSettingOn}} readonly {{else}} {{/rpSettingOn}} />
          <span class="sep">/</span>
          <input class="rp-gained" type="number" name="data.rewardPoints.total" value="{{data.rewardPoints.total}}" />
        </div>
        <div class="rp-other-pts flexrow">
          <span class="sep">Fate </span>
          <input class="rp-fate" type="number" name="data.fate.value" value="{{data.fate.value}}" />
          <span class="sep">Rep. </span>
          <input class="rp-rep" type="number" name="data.reputation.value" value="{{data.reputation.value}}" />
        </div>
      </aside>
      {{/unless}}
    </header>
    <aside class="details">
      <ul>
        {{#each details as | detail | }}
        {{#unless detail.hidden}}
        <li>
          {{#if detail.prefix}}
          <span class="prefix">{{detail.prefix}}</span>
          {{/if}}
          {{#if detail.choices}}
          <select name="data.{{detail.key}}">
            {{#each detail.choices}}
            <option value="{{value}}" {{selected}}>{{label}}</option>
            {{/each}}
          </select>
          {{else if detail.template}}
          {{> ($$ detail.template) detail}}
          {{else}}
          <input type="text" class="auto-size" {{#unless detail.value}}name="data.{{detail.key}}" {{/unless}}
            placeholder="{{detail.placeholder}}"
            value="{{#if detail.key}}{{zhLookup ../data detail.key}}{{else}}{{detail.value}}{{/if}}" {{#unless
            detail.key}}disabled="disabled" {{/unless}} />
          {{/if}}
          {{#if detail.postfix}}
          <span class="postfix">{{detail.postfix}}</span>
          {{/if}}
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </aside>
    {{#unless limited}}
    <div class="empty-placeholder"></div>
    <input class="character-dooming" name="data.dooming.value" type="text" value="{{data.dooming.value}}"
      placeholder="Dooming" />
    <section class="alignment-header">
      <input class="order-title" name="data.orderAlignment.value" type="text" value="{{data.orderAlignment.value}}"
        placeholder="Order Alignment" />
      <h1>Corruption
        <a class="reset-ranks"><i class="fas fa-sync-alt"></i></a>
      </h1>
      <input class="chaos-title" name="data.chaosAlignment.value" type="text" value="{{data.chaosAlignment.value}}"
        placeholder="Chaos Alignment" />
    </section>
    <section class="alignment-content">
      <section class="order-track">
        {{radioRanks "data.orderRanks.value" config.alignmentRanks actorConfig.permanentOrderRanks checked=data.orderRanks.value}}
      </section>
      <input class="corruption" name="data.corruption.value" type="number" value="{{data.corruption.value}}" />
      <section class="chaos-track">
        {{radioRanks "data.chaosRanks.value" config.alignmentRanks actorConfig.permanentChaosRanks
        checked=data.chaosRanks.value}}
      </section>
    </section>
    {{/unless}}
  </section>
</header>