<div class="tab main flexrow" data-group="primary" data-tab="main">
  <ul class="primary-attributes flexcol">
    {{#each data.stats.primaryAttributes as | attr key | }}
    <li class="pa pa-{{key}}">
      <h4 class="block-title">{{key}}</h4 class="block-title">
      <div class="pa-display flexrow">
        <input class="pa-value" type="number" name="data.stats.primaryAttributes.{{key}}.value"
          value="{{attr.value}}">
        <div class="pa-icon"><span class="{{lookup ../config.primaryAttributeIcons key}}"></span></div>
        <div class="flexcol">
          <span class="pa-bonus">{{attr.bonus}}</span>
          <span class="pa-bonus-title">{{getFirstLetter key}}B</span>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="skills-container flexcol">
    {{> ($$ "partials/skills-list" )}}
  </div>
  <div class="combat-container flexcol">
    <div class="combat-stats flexrow">
      <div class="movement">
        <h4 class="block-title">Movement</h4 class="block-title">
        <div class="values flexrow">
          <div>
            <span class="value">{{data.stats.secondaryAttributes.movement.value}}</span>
            <span class="formula">[{{getFirstLetter actorConfig.movAttribute}}B]+3</span>
          </div>
          <div>
            <span class="value color-overage" data-overage="{{data.stats.secondaryAttributes.movement.overage}}">{{data.stats.secondaryAttributes.movement.overage}}</span>
            <span class="formula color-overage" data-overage="{{data.stats.secondaryAttributes.movement.overage}}">Overage</span>
          </div>
          <div>
            <span class="value">{{data.stats.secondaryAttributes.movement.current}}</span>
            <span class="formula">Current</span>
          </div>
        </div>
      </div>
      <div class="initiative">
        <h4 class="block-title">Initiative</h4 class="block-title">
        <div class="values flexrow">
          <div>
            <span class="value">{{data.stats.secondaryAttributes.initiative.value}}</span>
            <span class="formula">[{{getFirstLetter actorConfig.intAttribute}}B]+3</span>
          </div>
          <div>
            <span class="value color-overage" data-overage="{{data.stats.secondaryAttributes.initiative.overage}}">{{data.stats.secondaryAttributes.initiative.overage}}</span>
            <span class="formula color-overage" data-overage="{{data.stats.secondaryAttributes.initiative.overage}}">Overage</span>
          </div>
          <div>
            <span class="value">{{data.stats.secondaryAttributes.initiative.current}}</span>
            <span class="formula">Current</span>
          </div>
        </div>

      </div>
    </div>
    <div class="combat-reactions flexrow">
      <div class="dodge flexcol">
        <h4 class="block-title">Dodge</h4 class="block-title">
        <div class="values flexrow">
          <a class="combat-icon dodge-roll" data-roll="1d100"
            data-label="{{data.stats.secondaryAttributes.dodge.associatedSkill}}"><span
              class="value ra ra-player-dodge"></span></a>
          <span class="value">{{data.stats.secondaryAttributes.dodge.value}}</span>
        </div>
        <select class="skill-dropdown" name="data.stats.secondaryAttributes.dodge.associatedSkill">
          {{#select data.stats.secondaryAttributes.dodge.associatedSkill}}
          {{#each actorConfig.dodgeSkills as | skill idx | }}
          <option value="{{skill}}">{{skill}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      <div class="parry flexcol">
        <h4 class="block-title">Parry</h4 class="block-title">
        <div class="values flexrow">
          <a class="combat-icon parry-roll" data-roll="1d100"
            data-label="{{data.stats.secondaryAttributes.parry.associatedSkill}}"><span
              class="value ra ra-round-shield"></span></a>
          <span class="value">{{data.stats.secondaryAttributes.parry.value}}</span>
        </div>
        <select class="skill-dropdown" name="data.stats.secondaryAttributes.parry.associatedSkill">
          {{#select data.stats.secondaryAttributes.parry.associatedSkill}}
          {{#each actorConfig.parrySkills as | skill idx | }}
          <option value="{{skill}}">{{skill}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
    </div>
    <div class="flexrow peril-rolls">
      <div class="flexcol stress values">
        <h4 class="block-title">Stress</h4>
        <a class="image-container stress" data-peril-type="stress"></a>
        <span class="formula">1d10+1</span>
      </div>

      <div class="flexcol fear values">
        <h4 class="block-title">Fear</h4>
        <a class="image-container fear" data-peril-type="fear"></a>
        <span class="formula">2d10+2</span>
      </div>

      <div class="flexcol terror values">
        <h4 class="block-title">Terror</h4>
        <a class="image-container terror" data-peril-type="terror"></a>
        <span class="formula">3d10+3</span>
      </div>
    </div>
    <div class="condition-thresholds flexrow">
      <div class="peril flexcol">
        <h4 class="block-title">Peril Threshold</h4 class="block-title">
        <div class="values flexrow">
          <div class="threshold-value flexcol">
            <span class="value">{{data.stats.secondaryAttributes.perilThreshold.value}}</span>
            <span class="formula">[{{getFirstLetter actorConfig.pthAttribute}}B]+3</span>
          </div>
          <span class="values-derived-bracket">{</span>
          <div class="flexcol values-derived">
            <div>
              <span class="inline-formula">+6</span> {{zhAdd data.stats.secondaryAttributes.perilThreshold.value '6'}}
            </div>
            <div>
              <span class="inline-formula">+12</span> {{zhAdd data.stats.secondaryAttributes.perilThreshold.value '12'}}
            </div>
            <div>
              <span class="inline-formula">+18</span>
              {{zhAdd data.stats.secondaryAttributes.perilThreshold.value '18'}}
            </div>
          </div>
        </div>
      </div>
      <div class="damage flexcol">
        <h4 class="block-title">Damage Threshold</h4 class="block-title">
        <div class="values flexrow">
          <div class="threshold-value flexcol">
            <span class="value">{{> ($$ 'partials/modded-value') data.stats.secondaryAttributes.damageThreshold}}</span>
            <span class="formula">[{{getFirstLetter actorConfig.dthAttribute}}B]+DTM</span>
          </div>
          <span class="values-derived-bracket">{</span>
          <div class="flexcol values-derived">
            <div>
              <span class="inline-formula">+6</span> {{zhAdd data.stats.secondaryAttributes.damageThreshold.value '6'}}
            </div>
            <div>
              <span class="inline-formula">+12</span> {{zhAdd data.stats.secondaryAttributes.damageThreshold.value '12'}}
            </div>
            <div>
              <span class="inline-formula">+18</span>
              {{zhAdd data.stats.secondaryAttributes.damageThreshold.value '18'}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="condition-tracker flexrow">
      <div class="flexcol">
        <h4 class="block-title">Peril Tracker</h4 class="block-title">
        <div class="condition-tracker-list flexcol">
          {{radioThresholds "data.stats.secondaryAttributes.perilCurrent.value" config.perilOptions
          checked=data.stats.secondaryAttributes.perilCurrent.value}}
        </div>
      </div>
      <div class="flexcol">
        <h4 class="block-title">Damage Tracker</h4 class="block-title">
        <div class="condition-tracker-list damage-list flexcol">
          {{radioThresholds "data.stats.secondaryAttributes.damageCurrent.value" config.damageOptions
          checked=data.stats.secondaryAttributes.damageCurrent.value}}
        </div>
      </div>
    </div>
  </div>
</div>