<div class="actor-config-container">
  {{#if (eq actorType "character")}}
    <fieldset>
      <legend>{{localize "ZWEI.settings.acsettings.primarytitle"}}</legend>
      <p class="hint">{{localize "ZWEI.settings.acsettings.primarynotes"}}</p>

      {{#each governingAttributes as |gov|}}
        <div class="form-group">
          <label>{{gov.label}}</label>
          <select name="{{gov.nameAttr}}">
            {{selectOptions gov.attributes valueAttr="value" labelAttr="label" selected=selected}}
          </select>
        </div>
      {{/each}}
    </fieldset>

    <fieldset>
      <legend>{{localize "ZWEI.settings.acsettings.globaltitle"}}</legend>
      <p class="hint">{{{localize "ZWEI.settings.acsettings.globalnotes"}}}</p>

      {{#each globalModifiers as |mod|}}
        <div class="form-group">
          <label>{{mod.label}}</label>
          <input type="number" name="{{mod.nameAttr}}" value="{{mod.valueAttr}}" />
        </div>
      {{/each}}
    </fieldset>

    <fieldset>
      <legend>{{localize "ZWEI.settings.acsettings.skillstitle"}}</legend>
      <p class="hint">{{localize "ZWEI.settings.acsettings.skillsnotes"}}</p>
      <div class="form-group">
        <label>{{localize "ZWEI.settings.acsettings.skillsparry"}}</label>
        <input type="text" name="flags.parrySkills" value="{{parrySkills}}" />
      </div>

      <div class="form-group">
        <label>{{localize "ZWEI.settings.acsettings.skillsdodge"}}</label>
        <input type="text" name="flags.dodgeSkills" value="{{dodgeSkills}}" />
      </div>
    </fieldset>

    <fieldset>
      <legend>{{localize "ZWEI.settings.acsettings.periltitle"}}</legend>
      <p class="hint">{{localize "ZWEI.settings.acsettings.periltitle"}}</p>
      <div class="form-group">
        <label>{{localize "ZWEI.settings.acsettings.peril1"}}</label>
        <input
          type="checkbox"
          name="flags.isIgnoredPerilLadderValue.[0]"
          {{checked flags.isIgnoredPerilLadderValue.[0]}}
        />
      </div>

      <div class="form-group">
        <label>{{localize "ZWEI.settings.acsettings.peril2"}}</label>
        <input
          type="checkbox"
          name="flags.isIgnoredPerilLadderValue.[1]"
          {{checked flags.isIgnoredPerilLadderValue.[1]}}
        />
      </div>

      <div class="form-group">
        <label>{{localize "ZWEI.settings.acsettings.peril3"}}</label>
        <input
          type="checkbox"
          name="flags.isIgnoredPerilLadderValue.[2]"
          {{checked flags.isIgnoredPerilLadderValue.[2]}}
        />
      </div>

      
    <div class="form-group">
      <label>{{localize "ZWEI.settings.acsettings.peril4"}}</label>
      <input type="checkbox" name="avoidAllPeril" {{checked avoidAllPeril}} />
      <p class="hint">{{localize "ZWEI.settings.acsettings.peril4hint"}}</p>
    </div>
    </fieldset>

    <fieldset>
      <legend>{{localize "ZWEI.settings.acsettings.magicktitle"}}</legend>
      <div class="form-group">
        <label>{{localize "ZWEI.settings.acsettings.magickuser"}}</label>
        <input type="checkbox" name="flags.isMagickUser" {{checked flags.isMagickUser}} />
        <p class="hint">{{localize "ZWEI.settings.acsettings.magickuserhint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "ZWEI.settings.acsettings.magickskill"}}</label>
        <input type="text" name="flags.magickSkills" value="{{magickSkills}}" />
        <p class="hint">{{localize "ZWEI.settings.acsettings.magickskillhint"}}</p>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{localize "ZWEI.settings.acsettings.octitle"}}</legend>
      <p class="hint">{{localize "ZWEI.settings.acsettings.ocnotes"}}</p>
      <div class="form-group">
        <label>{{localize "ZWEI.settings.acsettings.occhaosrank"}}</label>
        <input type="number" name="flags.permanentChaosRanks" value="{{flags.permanentChaosRanks}}" />
      </div>

      <div class="form-group">
        <label>{{localize "ZWEI.settings.acsettings.ocorderrank"}}</label>
        <input type="number" name="flags.permanentOrderRanks" value="{{flags.permanentOrderRanks}}" />
      </div>
    </fieldset>

    <fieldset>
      <legend>{{localize "ZWEI.settings.acsettings.bgtitle"}}</legend>
      <div class="form-group">
        <label>{{localize "ZWEI.settings.acsettings.bglabel"}}</label>
        <file-picker name="flags.headerBackground" type="image">{{flags.headerBackground}}</file-picker>
        <p class="hint">{{localize "ZWEI.settings.acsettings.bgnotes"}}</p>
      </div>
    </fieldset>
  {{/if}}

  <fieldset>
    <legend>{{localize "ZWEI.settings.acsettings.soundtitle"}}</legend>
    <div class="form-group">
      <label>{{localize "ZWEI.settings.acsettings.sounddodge"}}</label>
      <file-picker name="flags.dodgeSound" type="sound">{{flags.dodgeSound}}</file-picker>
    </div>

    <div class="form-group">
      <label>{{localize "ZWEI.settings.acsettings.soundparry"}}</label>
      <file-picker name="flags.parrySound" type="sound">{{flags.parrySound}}</file-picker>
    </div>

    <div class="form-group">
      <label>{{localize "ZWEI.settings.acsettings.soundgrunt"}}</label>
      <file-picker name="flags.gruntSound" type="sound">{{flags.gruntSound}}</file-picker>
    </div>

    <div class="form-group">
      <label>{{localize "ZWEI.settings.acsettings.soundplaygrunt"}}</label>
      <input type="checkbox" name="flags.playGruntSound" {{checked flags.playGruntSound}} />
      <p class="hint">{{localize "ZWEI.settings.acsettings.soundplaygrunthint"}}</p>
    </div>
  </fieldset>
</div>