<form autocomplete="off">
  <header class="form-header">
    <div class="form-group">
      <span style="flex: 0 0 60px; margin: 3px 5px; text-align:center;">{{localize "ZWEI.settings.lasettings.literate"}}</span>
      <span>{{localize "ZWEI.settings.lasettings.name"}}</span>
    </div>
  </header>
  <section class="form-body">
    {{#each languages as | lang index | }}
    <div class="form-group">
      <input style="flex: 0 0 60px" type="checkbox" name="languages.[{{index}}].isLiterate" {{checked
        lang.isLiterate}} />
      <input type="text" name="languages.[{{index}}].name" value="{{lang.name}}" placeholder="Language Name" />
      <button
        style="flex: 0 0 40px; height: var(--form-field-height); margin-left: 5px; line-height: var(--form-field-height)"
        type="button" class="del-language" data-index="{{index}}"><i class="fas fa-minus"></i></button>
    </div>
    {{/each}}
    <div class="form-group">
      <button type="button" class="add-language"><i class="fas fa-plus"></i> {{localize "ZWEI.settings.lasettings.add"}}</button>
    </div>
  </section>
</form>