<label>Tradition:</label> {{tradition.value}} <br />
<label>Reagents:</label> {{reagents.value}} <br />
<label>Effect:</label> {{{processRuleText effect.value}}} <br />
<label>Critical Success:</label> {{{processRuleText effect.criticalSuccess}}} <br />
<label>Critical Failure:</label> {{{processRuleText effect.criticalFailure}}} <br />