{{{arrayInputGroup 'Positive Bonus Modifiers' 'system.ancestralModifiers.positive' system.ancestralModifiers.positive 3}}}
{{{arrayInputGroup 'Negative Bonus Modifiers' 'system.ancestralModifiers.negative' system.ancestralModifiers.negative 3}}}
<div class="form-group">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Ancestral Trait")}}</label>
  <input name="system.ancestralTrait.name" type="text" value="{{system.ancestralTrait.name}}">
</div>
{{!-- {{system.ancestralTrait.linkedId}} --}}
{{!-- TODO: implement "roll ancestral trait" button --}}
