<fieldset>
  <legend>Ancestral Modifiers</legend>
  <header class='ancestral-modifiers-change ancestral-modifiers-header flexrow'>
    <div class='key'>Modifier</div>
    <div class='value'>Value</div>
    <div class='ancestral-modifiers-controls'>
      <a class='ancestral-modifiers-control' data-action='add'><i class='far fa-plus-square'></i></a>
    </div>
  </header>
  <ol class='ancestral-modifiers-list'>
    {{#each system.ancestralModifiers.value as |modifier i|}}
      <li class='ancestral-modifiers-change flexrow' data-index='{{i}}'>
        <div class='key'>
          <select name="system.ancestralModifiers.value.{{i}}.key">
            {{selectOptions ../ancestralModiferOptions valueAttr="key" labelAttr="label" selected=modifier.key blank=''}}
          </select>
        </div>
        <div class='value'>
          <input type='number' name="system.ancestralModifiers.value.{{i}}.value" value='{{modifier.value}}' />
        </div>
        <div class='ancestral-modifiers-controls'>
          <a class='ancestral-modifiers-control' data-action='delete'><i class='fas fa-trash-alt'></i></a>
        </div>
      </li>
    {{/each}}
  </ol>
</fieldset>
<fieldset>
  <legend>Ancestral Trait</legend>
  <div class="form-group">
    <label>Trait</label>
    <div class="roll-container">
      {{> ($$ 'partials/detail-item-wrapper') ancestralTraitWrapperData editable=editable}}
      <button
        type="button"
        class="randomize-trait icon fa-solid fa-shuffle"
        data-tooltip="Randomize {{ name }} Trait"
        data-tooltip-direction="UP"
      ></button>
    </div>
  </div>
</fieldset>
