<fieldset>
  <legend>{{localize "ZWEI.actor.items.ancestralmodifiers"}}</legend>
  <div class="form-group">
    <label>{{localize "ZWEI.actor.items.positive"}}</label>
    <zweihander-tags type="bonus-advances-ancestry" name="system.ancestralModifiers.positive">{{
      system.ancestralModifiers.positive
    }}</zweihander-tags>
  </div>

  <div class="form-group">
    <label>{{localize "ZWEI.actor.items.negative"}}</label>
    <zweihander-tags type="bonus-advances-ancestry" name="system.ancestralModifiers.negative">{{
      system.ancestralModifiers.negative
    }}</zweihander-tags>
  </div>
</fieldset>
<fieldset>
  <legend>{{localize "ZWEI.actor.items.ancestraltrait"}}</legend>
  <div class="form-group">
    <label>{{localize "ITEM.TypeTrait"}}</label>
    <div class="ancestral-trait">
      {{> ($$ 'partials/detail-item-wrapper') ancestralTraitWrapperData}}
      <button
        type="button"
        class="randomize-trait icon fa-solid fa-shuffle"
        data-tooltip="{{localize "ZWEI.actor.items.randomtrait"}} ({{ name }})"
        data-tooltip-direction="UP"
      ></button>
    </div>
  </div>
</fieldset>
