<div class="form-group">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Category")}}</label>
  <input name="{{zhLocalizePath 'system.details.category'}}" type="text" value="{{zhLocalize system.details.category}}">
</div>

<div class="form-group stacked">
  <label><a class="open-editor">Effect <i class="fa fa-edit"></i></a></label>
  <div class="zh-editor-preview open">{{{zhProcessRuleText (zhLocalize system.rules.effect)}}}</div>
  {{editor content=(zhLocalize system.rules.effect) target=(zhLocalizePath "system.rules.effect") button=true owner=owner editable=editable}}
</div>

<div class="form-group stacked">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Status")}}</label>
  <label class="checkbox">
    <input name="system.active" type="checkbox" class="link-checkbox" {{checked system.active}} />
    {{localize (zhConcat "ZWEI.actor.items." "Currently in Effect")}}
  </label>
</div>