<div class='form-group'>
  <label>{{localize 'ZWEI.actor.items.resist'}}</label>
  <input name='system.resist' type='text' value='{{system.resist}}' />
</div>

<div class='form-group'>
  <label>{{localize 'ZWEI.actor.items.duration'}}</label>
  <input name='system.duration' type='text' value='{{system.duration}}' />
</div>

<div class='form-group stacked'>
  <label>{{localize 'ZWEI.actor.items.effect'}}</label>
  {{editor
    html.rules.effect
    target=(zhLocalizePath 'system.rules.effect')
    engine='prosemirror'
    button=true
    owner=owner
    editable=editable
  }}
</div>

<div class='form-group stacked'>
  <label>{{localize 'ZWEI.actor.items.treatment'}}</label>
  {{editor
    html.rules.treatment
    target=(zhLocalizePath 'system.rules.treatment')
    engine='prosemirror'
    button=true
    owner=owner
    editable=editable
  }}
</div>

<div class='form-group stacked'>
  <label>{{localize 'ZWEI.actor.items.status'}}</label>
  <label class='checkbox'>
    <input name='system.active' type='checkbox' class='link-checkbox' {{checked system.active}} />
    {{localize 'ZWEI.actor.items.ineffect'}}
  </label>
</div>