<div class="form-group">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Severity")}}</label>
    <select name="system.severity">
    {{#each choices.severities}}
    <option value="{{value}}" {{selected}}>{{localize (zhConcat "ZWEI.actor.items.injuryseverity." label)}}</option>
    {{/each}}
  </select>
</div>

{{#if actor}}
<div class="form-group">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Recuperation Time (days)")}}</label>
  <input name="system.recuperationTime" type="number" value="{{system.recuperationTime}}">
</div>
{{/if}}

<div class="form-group stacked">
  <label><a class="open-editor">{{localize (zhConcat "ZWEI.actor.items." "Effect")}} <i class="fa fa-edit"></i></a></label>
    <div class="zh-editor-preview open">{{{zhProcessRuleText (zhLocalize system.rules.effect)}}}</div>
  {{editor content=(zhLocalize system.rules.effect) target=(zhLocalizePath "system.rules.effect") button=true owner=owner editable=editable}}
</div>

<div class="form-group stacked">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Status")}}</label>
  <label class="checkbox">
    <input name="system.active" type="checkbox" class="link-checkbox" {{checked system.active}} />
    {{localize (zhConcat "ZWEI.actor.items." "Currently in Effect")}}
  </label>
</div>