<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header item-sheet-draggable flexrow">
    <div class="profile">
      <div class="profile-image {{zhItemImageClass img}}" style="{{zhItemImageStyle img}}"></div>
    </div>
    <div class="header-details flexrow">
      <h1 class="itemname">
        <input name="name" type="text" value="{{name}}" placeholder="{{localize "ZWEI.actor.details.placeholders.name"}} ({{localize (zhConcat "ITEM.Type" (zhCapitalizeStrict type))}})">
      </h1>
      <div class="item-subtitle">
        {{localize (zhConcat "ITEM.Type" (zhCapitalizeStrict type))}}
      </div>
    </div>
  </header>
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="details">{{localize "ZWEI.actor.items.details"}}</a>
    <a class="item" data-tab="description">{{localize "ZWEI.actor.items.description"}}</a>
    <a class="item" data-tab="notes">{{localize "ZWEI.actor.items.notes"}}</a>
  </nav>
  <section class="sheet-body">
    <div class="tab tab-details flexcol" data-group="primary" data-tab="details">
      {{> ($$ (concat 'item/' type))}}
    </div>
    <div class="tab tab-description flexcol" data-group="primary" data-tab="description">
      {{editor (zhLocalize system.description) target=(zhLocalizePath "system.description") button=true owner=owner editable=editable}}
    </div>
    <div class="tab tab-notes flexcol" data-group="primary" data-tab="notes">
      {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>