<div class="form-group">
  <label>{{localize "ZWEI.actor.items.archetype"}}</label>
  <select name="system.archetype">
    {{#each choices.archetypes}}
    <option value="{{value}}" {{selected}}>{{localize (zhConcat "ZWEI.actor.details.labels." (zhLowerCaseSpaces label))}}</option>
    {{/each}}
  </select>
</div>

{{{arrayInputGroup (localize "ZWEI.actor.items.bonusadvances") 'system.bonusAdvances' system.bonusAdvances 7 'name'}}}
{{{arrayInputGroup (localize "ZWEI.actor.items.skillranks") 'system.skillRanks' system.skillRanks 10 'name'}}}
{{{arrayInputGroup (localize "ZWEI.actor.items.talents") 'system.talents' system.talents 3 'name'}}}

<div class="form-group">
  <label>{{localize "ZWEI.actor.items.professionaltrait"}}</label>
  <input name="system.professionalTrait.name" type="text" value="{{system.professionalTrait.name}}">
</div>

<div class="form-group">
  <label>{{localize "ZWEI.actor.items.specialtrait"}}</label>
  <input name="system.specialTrait.name" type="text" value="{{system.specialTrait.name}}">
</div>

<div class="form-group">
  <label>{{localize "ZWEI.actor.items.drawback"}}</label>
  <input name="system.drawback.name" type="text" value="{{system.drawback.name}}">
</div>

<div class="form-group stacked">
  <label class="checkbox">
    <input name="system.expert.value" type="checkbox" class="link-checkbox" {{checked system.expert.value}} />
    {{localize "ZWEI.actor.items.expertprofession"}}
  </label>
  <label>{{localize "ZWEI.actor.items.requirements"}}</label>
  <input name="system.expert.requirements" type="text" value="{{system.expert.requirements}}">
</div>