<div class="form-group">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Archetype")}}</label>
  <select name="system.archetype">
    {{#each choices.archetypes}}
    <option value="{{value}}" {{selected}}>{{localize (zhConcat "ZWEI.actor.details.labels." label)}}</option>
    {{/each}}
  </select>
</div>

{{{arrayInputGroup (localize (zhConcat "ZWEI.actor.items." "Bonus Advances")) 'system.bonusAdvances' system.bonusAdvances 7 'name'}}}
{{{arrayInputGroup (localize (zhConcat "ZWEI.actor.items." "Skill Ranks")) 'system.skillRanks' system.skillRanks 10 'name'}}}
{{{arrayInputGroup (localize (zhConcat "ZWEI.actor.items." "Talents")) 'system.talents' system.talents 3 'name'}}}

<div class="form-group">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Professional Trait")}}</label>
  <input name="system.professionalTrait.name" type="text" value="{{system.professionalTrait.name}}">
</div>

<div class="form-group">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Special Trait")}}</label>
  <input name="system.specialTrait.name" type="text" value="{{system.specialTrait.name}}">
</div>

<div class="form-group">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Drawback")}}</label>
  <input name="system.drawback.name" type="text" value="{{system.drawback.name}}">
</div>

<div class="form-group stacked">
  <label class="checkbox">
    <input name="system.expert.value" type="checkbox" class="link-checkbox" {{checked system.expert.value}} />
    {{localize (zhConcat "ZWEI.actor.items." "Expert Profession")}}
  </label>
  <label>{{localize (zhConcat "ZWEI.actor.items." "Requirements")}}</label>
  <input name="system.expert.requirements" type="text" value="{{system.expert.requirements}}">
</div>