<fieldset>
  <legend>{{localize "ZWEI.actor.items.uniquebenefit"}}</legend>
  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.effect"}}</label>
    <prose-mirror
      name="{{zhLocalizePath 'system.rules.effect'}}"
      value="{{zhLocalize system.rules.effect}}"
      toggled="true"
    >
      {{{html.rules.effect}}}
    </prose-mirror>
  </div>
</fieldset>