<fieldset>
  <legend>{{localize "ZWEI.actor.items.requirements"}}</legend>

  {{zhRitualCastingInputs system ritualCastingTimes}}

  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.reagents"}}</label>
    <prose-mirror
      name="{{zhLocalizePath 'system.rules.reagents'}}"
      value="{{zhLocalize system.rules.reagents}}"
      toggled="true"
    >
      {{{html.rules.reagents}}}
    </prose-mirror>
  </div>

  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.condition"}}</label>
    <prose-mirror
      name="{{zhLocalizePath 'system.rules.condition'}}"
      value="{{zhLocalize system.rules.condition}}"
      toggled="true"
    >
      {{{html.rules.condition}}}
    </prose-mirror>
  </div>

  {{zhRitualDifficultyInputs system ritualDifficultiesSpecific ritualDifficultiesGeneric skills}}

</fieldset>

<fieldset>
  <legend>{{localize "ZWEI.actor.items.chaosmanifestations"}}</legend>

  <div class="form-group">
    <label>{{localize "ZWEI.actor.items.channelpoweras"}}</label>
    <input name="system.channelAs" type="text" value="{{system.channelAs}}" />
  </div>
</fieldset>

<fieldset>
  <legend>{{localize "ZWEI.actor.items.ritualresults"}}</legend>

  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.consequences"}}</label>
    <prose-mirror
      name="{{zhLocalizePath 'system.rules.consequences'}}"
      value="{{zhLocalize system.rules.consequences}}"
      toggled="true"
    >
      {{{html.rules.consequences}}}
    </prose-mirror>
  </div>

  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.effect"}}</label>
    <prose-mirror
      name="{{zhLocalizePath 'system.rules.effect'}}"
      value="{{zhLocalize system.rules.effect}}"
      toggled="true"
    >
      {{{html.rules.effect}}}
    </prose-mirror>
  </div>
</fieldset>