<fieldset>
  <legend>{{localize "ZWEI.actor.items.requirements"}}</legend>

  {{zhRitualCastingInputs system ritualCastingTimes}}

  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.reagents"}}</label>
    {{editor
      html.rules.reagents
      target=(zhLocalizePath "system.rules.reagents")
      engine="prosemirror"
      button=true
      owner=owner
      editable=editable
    }}
  </div>

  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.condition"}}</label>
    {{editor
      html.rules.condition
      target=(zhLocalizePath "system.rules.condition")
      engine="prosemirror"
      button=true
      owner=owner
      editable=editable
    }}
  </div>

  {{zhRitualDifficultyInputs system ritualDifficultiesSpecific ritualDifficultiesGeneric skills}}

</fieldset>

<fieldset>
  <legend>{{localize "ZWEI.actor.items.chaosmanifestations"}}</legend>

  <div class="form-group">
    <label>{{localize "ZWEI.actor.items.channelpoweras"}}</label>
    <input name="system.channelAs" type="text" value="{{system.channelAs}}" />
  </div>
</fieldset>

<fieldset>
  <legend>{{localize "ZWEI.actor.items.ritualresults"}}</legend>

  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.consequences"}}</label>
    {{editor
      html.rules.consequences
      target=(zhLocalizePath "system.rules.consequences")
      engine="prosemirror"
      button=true
      owner=owner
      editable=editable
    }}
  </div>

  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.effect"}}</label>
    {{editor
      html.rules.effect
      target=(zhLocalizePath "system.rules.effect")
      engine="prosemirror"
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</fieldset>