<div class="form-group stacked">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Associated Primary Attribute (for Base Chance)")}}</label>
  <select name="system.associatedPrimaryAttribute">
  {{#each choices.associatedPrimaryAttribute}}
  <option value="{{value}}" {{selected}}>{{localize (zhConcat "ZWEI.actor.primaryattribute." label)}}</option>
  {{/each}}
</select>
</div>



<div class="form-group stacked">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Status")}}</label>
  <label class="checkbox">
    <input name="system.requiresTraining" type="checkbox" class="link-checkbox" {{checked system.requiresTraining}} />
    {{localize (zhConcat "ZWEI.actor.items." "Requires Training?")}}
  </label>
</div>
