<fieldset>
  <legend>Governing Attribute</legend>
  <div class="form-group stacked">
    <label>Primary Attribute</label>
    <select name="system.associatedPrimaryAttribute">
      {{#each choices.associatedPrimaryAttribute}}
        <option value="{{value}}" {{selected}}>{{localize
            (zhConcat "ZWEI.actor.primary." (zhLowerCase label))
          }}</option>
      {{/each}}
    </select>
  </div>
</fieldset>

<fieldset>
  <legend>Misc.</legend>
  <div class="form-group stacked">
    <label>Special Skill</label>
    <input name="system.requiresTraining" type="checkbox" class="link-checkbox" {{checked system.requiresTraining}} />
  </div>
  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.bonusperrank"}}</label>
    <input name="system.bonusPerRank" type="number" value="{{system.bonusPerRank}}" />
  </div>
</fieldset>