<fieldset>
  <legend>Tradition & Principle</legend>
  <div class="form-group">
    <label>{{localize "ZWEI.actor.items.tradition"}}</label>
    <input name="system.tradition" type="text" value="{{system.tradition}}" />
  </div>

  <div class="form-group">
    <label>{{localize "ZWEI.actor.items.principle"}}</label>
    <input name="system.principle" type="text" value="{{system.principle}}" />
  </div>
</fieldset>

<fieldset>
  <legend>Constraints</legend>
  <div class="form-group">
    <label>{{localize "ZWEI.actor.items.distance"}}</label>
    <input name="system.distance" type="text" value="{{system.distance}}" />
  </div>

  {{!--<div class="form-group">
    <label>{{localize "ZWEI.actor.items.duration"}}</label>
    <input name="system.duration" type="text" value="{{system.duration}}" />
  </div>--}}

  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.reagents"}}</label>
    {{editor
      html.rules.reagents
      target=(zhLocalizePath "system.rules.reagents")
      engine="prosemirror"
      button=true
      owner=owner
      editable=editable
    }}
  </div>

  <div class="form-group">
    <label>{{localize "ZWEI.actor.items.duration"}}</label>
    <select name="system.duration.setting">
      {{selectOptions spellDurations valueAttr="value" labelAttr="label" selected=selected}}
    </select>
  </div>

  {{#if (eq system.duration.setting "custom")}}
    <div class="form-group">
      <label class="formula-label"></label>
      <div class="damage-inputs flexrow">
        <div class="form-group label-top wide">
          <label>BASE</label>
          <select name="system.duration.base">
            {{selectOptions governingDurationAttribute valueAttr="value" labelAttr="label" selected=selected}}
          </select>
        </div>
        <div class="form-group label-top">
          <label>BONUS</label>
          <input type="number" name="system.duration.bonus" value="{{system.duration.bonus}}" />
        </div>
        <div class="form-group label-top">
          <label>UNIT</label>
          <input type="text" name="system.duration.unit" value="{{system.duration.unit}}" />
        </div>
      </div>
    </div>
  {{/if}}

  {{#if (eq settings.gameSystem "fof")}}
    <div class="form-group">
      <label>{{localize "ZWEI.actor.items.castingtime"}}</label>
      <input name="system.castingTime" type="text" value="{{system.castingTime}}" />
    </div>
    <div class="form-group">
      <label>{{localize "ZWEI.actor.items.apcost"}}</label>
      <input name="system.castingCost" type="number" value="{{system.castingCost}}" />
    </div>
  {{/if}}
</fieldset>

<fieldset>
  <legend>Consequences</legend>
  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.effect"}}</label>
    {{editor
      html.rules.effect
      target=(zhLocalizePath "system.rules.effect")
      engine="prosemirror"
      button=true
      owner=owner
      editable=editable
    }}
  </div>

  <div class="form-group stacked">
    <label>{{localize "ZWEI.chatskill.criticalsuccess"}}</label>
    {{editor
      html.rules.criticalSuccess
      target=(zhLocalizePath "system.rules.criticalSuccess")
      engine="prosemirror"
      button=true
      owner=owner
      editable=editable
    }}
  </div>

  <div class="form-group stacked">
    <label>{{localize "ZWEI.chatskill.criticalfailure"}}</label>
    {{editor
      html.rules.criticalFailure
      target=(zhLocalizePath "system.rules.criticalFailure")
      engine="prosemirror"
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</fieldset>