<fieldset>
  <legend>{{localize 'ZWEI.actor.items.innateability'}}</legend>
  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.effect"}}</label>
    <prose-mirror
      name="{{zhLocalizePath 'system.rules.effect'}}"
      value="{{zhLocalize system.rules.effect}}"
      toggled="true"
    >
      {{{html.rules.effect}}}
    </prose-mirror>
  </div>
</fieldset>

<fieldset>
  <legend>{{localize 'ZWEI.actor.items.misc'}}</legend>
  <div class="form-group stacked">
    <label>{{localize 'ZWEI.actor.items.category'}}</label>
    <select name="system.category">
      {{#select system.category}}
        <option value="professional">{{localize 'ZWEI.actor.items.traitscategories.professional'}}</option>
        <option value="special">{{localize 'ZWEI.actor.items.traitscategories.special'}}</option>
        <option value="ancestral">{{localize 'ZWEI.actor.items.traitscategories.ancestral'}}</option>
        <option value="creature">{{localize 'ZWEI.actor.items.traitscategories.creature'}}</option>
      {{/select}}
    </select>
  </div>
</fieldset>