<fieldset>
  <legend>{{localize 'ZWEI.actor.items.innateability'}}</legend>
  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.effect"}}</label>
    {{editor
      html.rules.effect
      target=(zhLocalizePath "system.rules.effect")
      engine="prosemirror"
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</fieldset>

<fieldset>
  <legend>{{localize 'ZWEI.actor.items.misc'}}</legend>
  <div class="form-group stacked">
    <label>{{localize 'ZWEI.actor.items.category'}}</label>
    <select name="system.category">
      {{#select system.category}}
        <option value="professional">{{localize 'ZWEI.actor.items.traitscategories.professional'}}</option>
        <option value="special">{{localize 'ZWEI.actor.items.traitscategories.special'}}</option>
        <option value="ancestral">{{localize 'ZWEI.actor.items.traitscategories.ancestral'}}</option>
      {{/select}}
    </select>
  </div>
</fieldset>