<div class="form-group">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Type")}}</label>
  <input name="{{zhLocalizePath 'system.details.category'}}" type="text" value="{{zhLocalize system.details.category}}">
</div>

<div class="form-group">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Quantity")}}</label>
  <input name="system.quantity" type="number" value="{{system.quantity}}">
</div>

<div class="form-group">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Encumbrance")}}</label>
  <input name="system.encumbrance" type="number" value="{{system.encumbrance}}">
</div>

<div class="form-group stacked">
  <label><a class="open-editor">{{localize (zhConcat "ZWEI.actor.items." "Effect")}} <i class="fa fa-edit"></i></a></label>
    <div class="zh-editor-preview open">{{{zhProcessRuleText (zhLocalize system.rules.effect)}}}</div>
  {{editor content=(zhLocalize system.rules.effect) target=(zhLocalizePath "system.rules.effect") button=true owner=owner editable=editable}}
</div>

{{zhPriceInputs system.price}}

{{!-- <div class="form-group stacked">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Status")}}</label>
  <label class="checkbox">
    <input name="system.carried" type="checkbox" class="link-checkbox" {{checked system.carried}} />
    Carried
  </label>
</div> --}}
