<div class="form-group">
  <label>{{localize "ZWEI.actor.items.type"}}</label>
  <input name="system.advanceType" type="text" value="{{system.advanceType}}">
</div>

<div class="form-group">
  <label>{{localize "ZWEI.actor.items.rewardpc"}}</label>
  <input  name="system.rewardPointCost" type="number" value="{{system.rewardPointCost}}">
</div>

<div class="form-group">
  <label>{{localize "ZWEI.actor.items.associatedfs"}}</label>
  <input name="system.associatedFocusSkill" type="text" value="{{system.associatedFocusSkill}}">
</div>
