<div class="form-group">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Type")}}</label>
  <input name="system.advanceType" type="text" value="{{system.advanceType}}">
</div>

<div class="form-group">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Reward Point Cost")}}</label>
  <input  name="system.rewardPointCost" type="number" value="{{system.rewardPointCost}}">
</div>

<div class="form-group">
  <label>{{localize (zhConcat "ZWEI.actor.items." "Associated Focus Skill")}}</label>
  <input name="system.associatedFocusSkill" type="text" value="{{system.associatedFocusSkill}}">
</div>
