<div class="form-group">
  <label>Associated Skill</label>
  <select name="system.associatedSkill">
    {{#select system.associatedSkill}}
    {{#each skills as | skill idx | }}
      <option value="{{skill}}">{{skill}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>
<div class="form-group">
  <label>Load</label>
  <input  name="system.load" type="number" value="{{system.load}}">
</div>
<div class="form-group">
  <label>Handling</label>
  <input  name="system.handling" type="text" value="{{system.handling}}">
</div>
<div class="form-group">
  <label>Distance</label>
  <input  name="system.distance" type="text" value="{{system.distance}}">
</div>
<div class="form-group">
  <label>Qualities</label>
  <input name="system.qualities.value" type="text" value="{{system.qualities.value}}">
</div>
<div class="form-group">
  <label>Type</label>
  <input  name="system.weaponType" type="text" value="{{system.weaponType}}">
</div>
<div class="form-group">
  <label>Damage Formula</label>
  <input  name="system.damage.formula" type="text" value="{{system.damage.formula}}">
</div>
<div class="form-group">
  <label>Encumbrance</label>
  <input  name="system.encumbrance" type="number" value="{{system.encumbrance}}">
</div>
{{zhPriceInputs system.price}}
{{!-- <div class="form-group stacked">
  <label>Status</label>
  <label class="checkbox">
    <input name="system.equipped" type="checkbox" class="link-checkbox" {{checked system.equipped}} />
    Equipped
  </label>
</div> --}}
