<fieldset>
  <legend>{{localize "ZWEI.actor.items.associatedskill"}}</legend>

  <div class="form-group">
    <label>{{localize "ITEM.TypeSkill"}}</label>
    <select name="system.associatedSkill">
      {{selectOptions skills valueAttr="value" labelAttr="label" selected=selected}}
    </select>
  </div>
</fieldset>

<fieldset>
  <legend>{{localize "ZWEI.actor.items.characteristics"}}</legend>

  <div class="form-group">
    <label>{{localize "ZWEI.actor.items.handling"}}</label>
    <input name="system.handling" type="text" value="{{system.handling}}" />
  </div>

  <div class="form-group">
    <label>{{localize "ZWEI.actor.items.type"}}</label>
    <input name="system.weaponType" type="text" value="{{system.weaponType}}" />
  </div>

  <div class="form-group">
    <label>{{localize "ZWEI.actor.items.qualities"}}</label>
    <multi-select name="system.qualities">
      <optgroup label="Compendium Qualities">
        {{selectOptions qualitiesCompendium valueAttr="value" labelAttr="label" selected=selected}}
      </optgroup>
      <optgroup label="World Qualities">
        {{selectOptions qualitiesWorld valueAttr="value" labelAttr="label" selected=selected}}
      </optgroup>
    </multi-select>
  </div>

  <div class="form-group">
    <label>{{localize "ZWEI.actor.items.ranged"}}</label>
    <input name="system.ranged.value" type="checkbox" class="link-checkbox" {{checked system.ranged.value}} />
  </div>

  {{#if system.ranged.value}}
    <div class="form-group">
      <label>{{localize "ZWEI.actor.items.load"}}</label>
      <input name="system.ranged.load" type="number" value="{{system.ranged.load}}" />
    </div>
  {{/if}}

  <div class="form-group">
    <label class="formula-label">{{localize "ZWEI.actor.items.distance"}}</label>
    <div class="distance-inputs flexrow">
      {{#if system.ranged.value}}
        <div class="form-group label-top">
          <label>{{localize "ZWEI.actor.items.base"}}</label>
          <select name="system.distance.base">
            {{selectOptions governingDistanceAttribute valueAttr="value" labelAttr="label" selected=selected}}
          </select>
        </div>
      {{else}}
        <input class="engaged" type="text" value="{{localize 'ZWEI.actor.items.engaged'}}" disabled />
        <span class="separator">{{localize "ZWEI.actor.items.or"}}</span>
      {{/if}}
      <div class="form-group label-top">
        <label>{{#if system.ranged.value}}{{localize "ZWEI.actor.items.bonus"}}{{else}}{{localize "ZWEI.actor.items.reach"}}{{/if}}</label>
        <input type="number" name="system.distance.bonus" value="{{system.distance.bonus}}" />
      </div>
    </div>
  </div>

  {{!<div class="form-group">
    <label class="formula-label">Distance Increments</label>
    <div class="distance-inputs flexrow">
      <div class="form-group label-top">
        <label>SHORT</label>
        <input type="text" />
      </div>
      <div class="form-group label-top">
        <label>MEDIUM</label>
        <input type="text" />
      </div>
      <div class="form-group label-top">
        <label>LONG</label>
        <input type="text" />
      </div>
    </div>
  </div>}}

</fieldset>

<fieldset>
  <legend>{{localize "ZWEI.actor.secondary.damage"}}</legend>
  <div class="form-group">
    <label>{{localize "ZWEI.actor.items.damageformula"}}</label>
    <input
      name="system.damage.formula.override"
      type="checkbox"
      class="link-checkbox"
      {{checked system.damage.formula.override}}
    />
  </div>

  {{#if system.damage.formula.override}}
    <div class="form-group">
      <label></label>
      <input name="system.damage.formula.value" type="text" value="{{system.damage.formula.value}}" />
    </div>
  {{else}}
    <div class="form-group">
      <label>{{localize "ZWEI.actor.items.govattrbonus"}}</label>
      <select name="system.damage.attributeBonus">
        {{selectOptions governingDamageAttribute valueAttr="value" labelAttr="label" selected=selected}}
      </select>
    </div>

    <div class="form-group">
      <label class="formula-label">{{localize "ZWEI.actor.secondary.damage"}}</label>
      <div class="damage-inputs flexrow">
        <div class="form-group label-top">
          <label>{{localize "ZWEI.actor.items.number"}}</label>
          <input type="number" name="system.damage.number" value="{{system.damage.number}}"/>
        </div>
        <div class="form-group label-top">
          <label>{{localize "ZWEI.actor.items.die"}}</label>
          <select name="system.damage.die">
            {{selectOptions dice valueAttr="value" labelAttr="label" selected=selected}}
          </select>
        </div>
        <div class="form-group label-top">
          <label>{{localize "ZWEI.actor.items.bonus"}}</label>
          <input type="number" name="system.damage.bonus" value="{{system.damage.bonus}}"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "ZWEI.actor.items.explodingdie"}}</label>
      <input
        name="system.damage.fury.value"
        type="checkbox"
        class="link-checkbox"
        {{checked system.damage.fury.value}}
      />
    </div>

    {{#if system.damage.fury.value}}
      <div class="form-group">
        <label></label>
        <zweihander-tags
          type="exploding-dice"
          name="system.damage.fury.explodesOn"
        >{{system.damage.fury.explodesOn}}</zweihander-tags>
      </div>
    {{/if}}
  {{/if}}
</fieldset>

{{> ($$ 'partials/item-price-weight')}}