<ol class="items-list">
  {{#each this as |actorGroup| }}
  <li class="items-header flexrow">
    <h3 class="item-name sortable filterable" data-detail="-1" data-item-group="{{actorGroup.id}}">
      <span class="detail-title">
        {{localize (zhConcat "ZWEI.actor.items." actorGroup.title)}}
        {{#if actorGroup.sortName}}
        <div class="sort-indicator">
          <i class="fa fa-sort-{{#if (eq actorGroup.sortName 1)}}up{{else}}down{{/if}}"></i>
          <span class="sort-order sort-order-{{actorGroup.sortName}}">{{actorGroup.sortNameOrder}}</span>
        </div>
        {{else}}
        <div class="sort-indicator">
          <i class="fa fa-sort"></i>
        </div>
        {{/if}}
        <div class="filter-indicator{{#if actorGroup.filterName}} filter-active{{/if}} show-filter"><i class="fa fa-search"></i></div>
      </span>
      <div class="filter-input{{#if actorGroup.filterNameActive}} filter-input-active{{/if}}">
        <i class="fa fa-search hide-filter {{#if actorGroup.filterName}}filter-active{{/if}}"></i>
        <input type="text" name="{{actorGroup.id}}-1" value="{{actorGroup.filterName}}">
      </div>
    </h3>
    {{#each actorGroup.details as |detail index| }}
    <div class="item-detail sortable {{#if detail.filterable}}filterable{{/if}}" style="width:{{detail.size}}px" data-detail="{{index}}" data-item-group="{{actorGroup.id}}">
      <span class="detail-title secondary">
        {{localize (zhConcat "ZWEI.actor.items." detail.title)}}
        {{#if detail.sort}}
        <div class="sort-indicator">
          <i class="fa fa-sort-{{#if (eq detail.sort 1)}}up{{else}}down{{/if}}"></i>
          <span class="sort-order sort-order-{{detail.sort}}">{{detail.sortOrder}}</span>
        </div>
        {{else}}
        <div class="sort-indicator">
          <i class="fa fa-sort"></i>
        </div>
        {{/if}}
        {{#if detail.filterable}}
        <div class="filter-indicator{{#if detail.filter}} filter-active{{/if}} show-filter"><i class="fa fa-search"></i></div>
        {{/if}}
        <div class="padder"></div>
      </span>
      {{#if detail.filterable}}
      <div class="filter-input{{#if detail.filterActive}} filter-input-active{{/if}}">
        <i class="fa fa-search hide-filter{{#if detail.filter}} filter-active{{/if}}"></i>
        <input type="text" name="{{actorGroup.id}}-{{index}}" value="{{detail.filter}}">
      </div>
      {{/if}}
    </div>
    {{/each}}
    {{!-- <div class="item-controls"><a class="add-new" data-item-type="{{actorGroup.type}}" {{#if
        actorGroup.packs}}data-open-packs="{{actorGroup.packs}}" {{/if}} title="Add New {{actorGroup.title}}"><i
          class="fa fa-plus"></i> {{localize "ZWEI.actor.items.add"}}</a>
    </div> --}}
  </li>
    <ol class="item-list">
    {{#each actorGroup.actors as |actor| }}
    <li class="item flexrow" data-actor-id="{{actor.uuid}}">
      <div class="item-name fetch-actor flexrow js-show-item-description {{#if actorGroup.rollType}}rollable{{/if}}">
        <div class="{{zhItemImageClass actor.img}} {{itemGroup.rollType}} {{#if actorGroup.rollType}}rollable{{/if}}" tabindex="0" role="button"
          aria-label="{{actor.name}}" style="{{zhItemImageStyle actor.img}}"
          data-label="{{#if actorGroup.rollLabelKey}}{{zhLookup actor actorGroup.rollLabelKey}}{{else}}{{actorGroup.rollLabel}}{{/if}}">
        </div>
        <h4 class="flexrow" data-testid="{{actor.name}}">
          {{actor.name}}
        </h4>
      </div>
      {{#each actorGroup.details as |detail| }} 
      <div class="item-detail {{detail.class}}" style="width:{{detail.size}}px">
        {{#if detail.isCheckbox}}
        <input class="zweihander-checkbox {{#unless detail.classes}}link{{#if ../../isEffect}}-effect{{/if}}-checkbox{{else}}{{detail.classes}}{{/unless}}"
          id="{{item._id}}.{{detail.key}}" data-item-id="{{item._id}}" data-key="{{detail.key}}" type="checkbox"
          {{checked (zhLookup item detail.key)}} />
        <label for="{{item._id}}.{{detail.key}}"></label>
        {{else if detail.isNumerable}}
        <div class="numerable-field flexrow">
          <button type="button" class="numerable-field-subtract {{#if (zhLookup item detail.key)}}{{else}}hide{{/if}}"
            data-numerable-path="{{detail.key}}">-</button>
          <span class="numerable-field-counter">{{zhLookup item detail.key}}{{detail.unit}}</span>
          <button type="button" class="numerable-field-add" data-numerable-path="{{detail.key}}">+</button>
        </div>
        {{else if detail.key}}
        {{zhLookup item detail.key}}
        {{else}}
        {{#with item}} {{zhCapitalize (detail.value)}} {{/with}}
        {{/if}}
      </div>
      {{/each}}
      <div class="item-controls flexrow" data-tooltip-direction="UP">
        <a class="item-control actor-{{#if actor.isDriver}}demote{{else}}promote{{/if}}" data-tooltip="{{#if actor.isDriver}}{{localize "ZWEI.actor.items.demote"}}{{else}}{{localize "ZWEI.actor.items.promote"}}{{/if}}"><i class="fa-solid fa-{{#if actor.isDriver}}down{{else}}up{{/if}} fa-fw fa-xs"></i></a>
        {{!-- <a class="item-control actor-post" title="Post Actor to Chat"><i class="fas fa-comment fa-fw fa-xs"></i></a> --}}
        <a class="item-control actor-edit" data-tooltip='{{localize "ZWEI.actor.items.edit"}}'><i class="fas fa-pencil-alt fa-fw fa-xs"></i></a>
        <a class="item-control actor-delete" data-tooltip='{{localize "ZWEI.actor.items.remove"}}'><i class="fas fa-trash-alt fa-fw fa-xs"></i></a>
      </div>
      <div class="item-summary individual-description save-toggle item-summary-longform">
        {{> ($$ actorGroup.summaryTemplate) actor.system item=item}}
      </div>
    </li>
    {{/each}}
  </ol>
  {{/each}}
</ol>