<div class="risk-factor">
  <select class="risk-factor-value" name="data.details.riskFactor.value">
    {{#each choices.riskFactors}}
    <option value="{{value}}" {{selected}}>{{label}}</option>
    {{/each}}
  </select>
  <select class="risk-factor-notch" name="data.details.riskFactor.notch">
    {{#each choices.notches}}
    <option value="{{value}}" {{selected}}>{{label}}</option>
    {{/each}}
  </select>
</div>