<div class="aside-and-figure">
  <figure>
    <img class="profile-image peril-tracker" src="{{actor.img}}" title="{{actor.name}}" data-action="editImage" data-edit="img" />
  </figure>
  <aside class="details">
    <ul>
      {{#each details as | detail | }}
      {{#unless detail.hidden}}
      <li>
        {{#if detail.prefix}}
        <span class="prefix">{{detail.prefix}}</span>
        {{/if}}
        {{#if detail.template}}
        {{> ($$ detail.template) detail editable=../editable}}
        {{else if detail.choices}}
        <select name="system.{{detail.key}}">
          {{#each detail.choices}}
          <option value="{{value}}" {{selected}}>{{localize (zhConcat "ZWEI.actor.details.labels." (zhLowerCaseSpaces label))}}</option>
          {{/each}}
        </select>
        {{else}}
        <input type="text" class="auto-size" {{#unless detail.value}}name="system.{{detail.key}}" {{/unless}}
          placeholder="{{detail.placeholder}}"
          value="{{#if detail.key}}{{zhLookup ../system detail.key}}{{else}}{{detail.value}}{{/if}}" {{#unless
          detail.key}}disabled="disabled" {{/unless}} />
        {{/if}}
        {{#if detail.postfix}}
        <span class="postfix">{{detail.postfix}}</span>
        {{/if}}
      </li>
      {{/unless}}
      {{/each}}
    </ul>
  </aside>
</div>