{{#if mods.length}}
<span class="modded-value">
  {{value}}
  <div class="modded-value-indicator">
    <i class="fa fa-cog"></i>
    <ol class="modded-value-tooltip">
      <li><span class="modded-value-label">Base Value:</span> {{base}}</li>
    {{#each mods}}
      <li><span class="modded-value-label">{{source}}:</span> {{type}} {{argument}}</li>
    {{/each}}
      <li><span class="modded-value-label">Effective Value:</span> {{value}}</li>
    </ol>
  </div>
</span>
{{else}}
{{value}}
{{/if}}