<div class="skills-list save-scroll">
  {{#each skills as | skill | }}
  <div class="skill skill-roll flexrow" data-item-id="{{skill._id}}"
    data-associated-pa="{{skill.system.associatedPrimaryAttribute}}"
    data-rank="{{skill.system.rank}}" data-label="{{skill.name}}">
    <span class="skill-name">
      <span>
        {{skill.name}}
      ({{zhGetFirstLetter skill.system.associatedPrimaryAttribute}})
      {{#if skill.system.requiresTraining}}*{{/if}}
      </span>
    </span>
    <span class="skill-info flexrow">
      <span class="skill-rank" title="{{skill.system.rank}}">
        {{zhSkillRankAbbreviation skill.system.rank}}
      </span>
      <span class="skill-gain">
        {{zhSkillBonus skill.system.bonus}}
      </span>
    </span>
    {{> ($$ 'partials/focuses-list') skill.system}}
  </div>
  {{/each}}
</div>