<form class="editable sheet-grid flexcol" autocomplete="off">
  <header>
    <figure class="actor-image">
      <img class="peril-tracker" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    </figure>
    <h1 class="actor-name">
      <input name="name" type="text" value="{{actor.name}}" placeholder="NPC Name">
    </h1>
    <section class="actor-resources">
      <section class="peril-ladder">
        {{radioThresholds "data.stats.secondaryAttributes.perilCurrent.value" config.perilOptions
        checked=data.stats.secondaryAttributes.perilCurrent.value}}
      </section>
      <section class="damage-ladder">
        {{radioThresholds "data.stats.secondaryAttributes.damageCurrent.value" config.damageOptions
        checked=data.stats.secondaryAttributes.damageCurrent.value}}
      </section>
    </section>
  </header>
  <aside class="details">
    <ul>
      <li class="risk-factor">
        <select class="risk-factor-value" name="data.details.riskFactor.value">
          {{#each choices.riskFactors}}
          <option value="{{value}}" {{selected}}>{{label}}</option>
          {{/each}}
        </select>
        <select class="risk-factor-notch" name="data.details.riskFactor.notch">
          {{#each choices.notches}}
          <option value="{{value}}" {{selected}}>{{label}}</option>
          {{/each}}
        </select>
      </li>
      {{#each details as | detail | }}
      <li>
        {{#if detail.choices}}
        <select name="data.details.{{detail.key}}">
          {{#each detail.choices}}
          <option value="{{value}}" {{selected}}>{{label}}</option>
          {{/each}}
        </select>
        {{else}}
        <input type="text" class="auto-size" name="data.details.{{detail.key}}" placeholder="{{detail.placeholder}}"
          value="{{zhLookup ../data.details detail.key}}" />
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </aside>
  <section class="sheet-body">
    <section class="stats flexcol">
      <h1>Attributes <a class="manual-mode-button"><i
            class="fas fa-toggle-{{#if data.stats.manualMode}}on{{else}}off{{/if}}"></i> Manual Mode</a></h1>
      <ul class="primary-attributes flexrow">
        {{#each data.stats.primaryAttributes as | attr key | }}
        <li class="pa pa-{{key}}" data-primary-attribute="{{key}}">
          <span class="pa-title">{{key}}</span>
          <div class="pa-display flexrow">
            <input class="pa-value" size="2" type="number" name="data.stats.primaryAttributes.{{key}}.value"
              value="{{attr.value}}">
            <div class="pa-icon"><span class="{{lookup ../config.primaryAttributeIcons key}}"></span></div>
            <div class="pa-bonus-container flexcol">
              <span class="pa-bonus">{{attr.bonus}}</span>
              <span class="pa-bonus-title">{{getFirstLetter key}}B</span>
            </div>
          </div>
          <div class="pa-bonus-advances flexrow">
            <button class="pa-bonus-advance-substract" data-primary-attribute="{{key}}">-</button>
            <span class="pa-bonus-advance-counter">{{attr.bonusAdvances}}</span>
            <button class="pa-bonus-advance-add" data-primary-attribute="{{key}}">+</button>
          </div>
        </li>
        {{/each}}
      </ul>
      <ul class="secondary-attributes flexrow">
        <li class="sa-int">
          <span class="sa-title">Initiative</span>
          <span class="sa-value">
            <input size="2" type="number" name="data.stats.secondaryAttributes.initiative.value"
              value="{{data.stats.secondaryAttributes.initiative.value}}" {{#unless
              data.stats.manualMode}}readonly{{/unless}}>
          </span>
        </li>
        <li class="sa-mov">
          <span class="sa-title">Move / Fly</span>
          <span class="sa-value">
            <input size="2" type="number" name="data.stats.secondaryAttributes.movement.value"
              value="{{data.stats.secondaryAttributes.movement.value}}" {{#unless
              data.stats.manualMode}}readonly{{/unless}}>
            <span class="sa-value-fly">
              /<input size="2" type="number" name="data.stats.secondaryAttributes.movement.fly"
                value="{{data.stats.secondaryAttributes.movement.fly}}" {{#unless
                data.stats.manualMode}}readonly{{/unless}}>
            </span>
          </span>
        </li>
        <li class="sa-dth">
          <span class="sa-title">DTh</span>
          <span class="sa-value">
            <input size="2" type="number" name="data.stats.secondaryAttributes.damageThreshold.value"
              value="{{data.stats.secondaryAttributes.damageThreshold.value}}" {{#unless
              data.stats.manualMode}}readonly{{/unless}}>
            <span
              class="sa-ladder">({{data.stats.secondaryAttributes.damageThreshold.valuePlusSix}}/{{data.stats.secondaryAttributes.damageThreshold.valuePlusTwelve}}/{{data.stats.secondaryAttributes.damageThreshold.valuePlusEighteen}})</span></span>
        </li>
        <li class="sa-dth">
          <span class="sa-title">PTh</span>
          <span class="sa-value">
            <input size="2" type="number" name="data.stats.secondaryAttributes.perilThreshold.value"
              value="{{data.stats.secondaryAttributes.perilThreshold.value}}" {{#unless
              data.stats.manualMode}}readonly{{/unless}}>
            <span
              class="sa-ladder">({{data.stats.secondaryAttributes.perilThreshold.valuePlusSix}}/{{data.stats.secondaryAttributes.perilThreshold.valuePlusTwelve}}/{{data.stats.secondaryAttributes.perilThreshold.valuePlusEighteen}})</span></span>
        </li>
        <li class="sa-parry">
          <span class="sa-title">Parry</span>
          <span class="sa-value">
            <input size="2" type="number" name="data.stats.secondaryAttributes.parry.value"
              value="{{data.stats.secondaryAttributes.parry.value}}" {{#unless
              data.stats.manualMode}}readonly{{/unless}}>
          </span>
        </li>
        <li class="sa-dodge">
          <span class="sa-title">Dodge</span>
          <span class="sa-value">
            <input size="2" type="number" name="data.stats.secondaryAttributes.dodge.value"
              value="{{data.stats.secondaryAttributes.dodge.value}}" {{#unless
              data.stats.manualMode}}readonly{{/unless}}>
          </span>
        </li>
      </ul>
    </section>
    <section class="attack-profiles">
      {{> ($$ "partials/items-list") itemGroups.attackProfiles}}
    </section>
    <section class="skills skills-container flexcol save-scroll">
      <h1>Skills</h1>
      {{> ($$ "partials/skills-list" )}}
    </section>
    <section class="rules">
      {{!-- <h1>Rules</h1> --}}
      {{> ($$ "partials/items-list") itemGroups.rules}}
    </section>
    <section class="loot">
      {{> ($$ "partials/items-list") itemGroups.loot}}
    </section>
    <aside class="description">
      <h1>Description</h1>
      <textarea spellcheck="false" name="data.flavor.description"
        placeholder="Put a nice description of your creature here...">{{data.flavor.description}}</textarea>
    </aside>
  </section>
</form>