<form class="editable sheet-grid flexcol" autocomplete="off">
  <header>
    <figure class="actor-image">
      <img class="peril-tracker" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    </figure>
    <h1 class="actor-name">
      <input name="name" type="text" value="{{actor.name}}" placeholder="NPC Name">
    </h1>
    {{#unless limited}}
    <section class="actor-resources">
      <section class="peril-ladder">
        {{radioThresholds "data.stats.secondaryAttributes.perilCurrent.value" config.perilOptions
        checked=data.stats.secondaryAttributes.perilCurrent.value}}
      </section>
      <section class="damage-ladder">
        {{radioThresholds "data.stats.secondaryAttributes.damageCurrent.value" config.damageOptions
        checked=data.stats.secondaryAttributes.damageCurrent.value}}
      </section>
    </section>
    {{/unless}}
  </header>
  {{> ($$ 'partials/details-list') }}
  {{#unless limited}}
  <section class="sheet-body">
    <section class="stats flexcol">
      <h1>Attributes <a class="manual-mode-button"><i
            class="fas fa-toggle-{{#if data.stats.manualMode}}on{{else}}off{{/if}}"></i> Manual Mode</a></h1>
      <ul class="primary-attributes flexrow">
        {{#each data.stats.primaryAttributes as | attr key | }}
        <li class="pa pa-{{key}}" data-primary-attribute="{{key}}">
          <span class="pa-title">{{key}}</span>
          <div class="pa-display flexrow">
            <input class="pa-value" size="2" type="number" name="data.stats.primaryAttributes.{{key}}.value"
              value="{{attr.value}}">
            <div class="pa-icon"><span class="{{lookup ../config.primaryAttributeIcons key}}"></span></div>
            <div class="pa-bonus-container flexcol">
              <span class="pa-bonus">{{attr.bonus}}</span>
              <span class="pa-bonus-title">{{getFirstLetter key}}B</span>
            </div>
          </div>
          <div class="pa-bonus-advances flexrow">
            <button type="button" class="pa-bonus-advance-substract" data-primary-attribute="{{key}}">-</button>
            <span class="pa-bonus-advance-counter">{{attr.bonusAdvances}}</span>
            <button type="button" class="pa-bonus-advance-add" data-primary-attribute="{{key}}">+</button>
          </div>
        </li>
        {{/each}}
      </ul>
      <ul class="secondary-attributes flexrow">
        <li class="sa-int">
          <span class="sa-title">Initiative</span>
          <span class="sa-value">
            <input class="sa-solo-value" size="2" type="number" name="data.stats.secondaryAttributes.initiative.value"
              value="{{data.stats.secondaryAttributes.initiative.value}}" {{#unless
              data.stats.manualMode}}readonly{{/unless}}>
          </span>
        </li>
        <li class="sa-mov">
          <span class="sa-title">Move / Fly</span>
          <span class="sa-value">
            <input size="2" type="number" name="data.stats.secondaryAttributes.movement.value"
              value="{{data.stats.secondaryAttributes.movement.value}}" {{#unless
              data.stats.manualMode}}readonly{{/unless}}>
            <span class="sa-value-fly">
              /<input size="2" type="number" name="data.stats.secondaryAttributes.movement.fly"
                value="{{data.stats.secondaryAttributes.movement.fly}}" {{#unless
                data.stats.manualMode}}readonly{{/unless}}>
            </span>
          </span>
        </li>
        <li class="sa-dth">
          <span class="sa-title">DTh</span>
          <span class="sa-value">
            <input size="2" type="number" name="data.stats.secondaryAttributes.damageThreshold.value"
              value="{{data.stats.secondaryAttributes.damageThreshold.value}}" {{#unless
              data.stats.manualMode}}readonly{{/unless}}>
            <span
              class="sa-ladder">({{zhAdd data.stats.secondaryAttributes.damageThreshold.value '6'}}/{{zhAdd data.stats.secondaryAttributes.damageThreshold.value '12'}}/{{zhAdd data.stats.secondaryAttributes.damageThreshold.value '18'}})</span></span>
        </li>
        <li class="sa-dth">
          <span class="sa-title">PTh</span>
          <span class="sa-value">
            <input size="2" type="number" name="data.stats.secondaryAttributes.perilThreshold.value"
              value="{{data.stats.secondaryAttributes.perilThreshold.value}}" {{#unless
              data.stats.manualMode}}readonly{{/unless}}>
            <span
              class="sa-ladder">({{zhAdd data.stats.secondaryAttributes.perilThreshold.value '6'}}/{{zhAdd data.stats.secondaryAttributes.perilThreshold.value '12'}}/{{zhAdd data.stats.secondaryAttributes.perilThreshold.value '18'}})</span></span>
        </li>
        <li class="sa-parry">
          <span class="sa-title">Parry</span>
          <span class="sa-value">
            <input class="sa-solo-value" size="2" type="number" name="data.stats.secondaryAttributes.parry.value"
              value="{{data.stats.secondaryAttributes.parry.value}}" {{#unless
              data.stats.manualMode}}readonly{{/unless}}>
          </span>
        </li>
        <li class="sa-dodge">
          <span class="sa-title">Dodge</span>
          <span class="sa-value">
            <input class="sa-solo-value" size="2" type="number" name="data.stats.secondaryAttributes.dodge.value"
              value="{{data.stats.secondaryAttributes.dodge.value}}" {{#unless
              data.stats.manualMode}}readonly{{/unless}}>
          </span>
        </li>
      </ul>
    </section>
    <section class="attack-profiles">
      {{> ($$ "partials/items-list") itemLists.attackProfiles}}
    </section>
    <section class="skills skills-container flexcol save-scroll">
      <h1>Skills</h1>
      {{> ($$ "partials/skills-list" )}}
    </section>
    <section class="rules">
      {{> ($$ "partials/items-list") itemLists.rules}}
    </section>
    <section class="loot">
      {{> ($$ "partials/items-list") itemLists.loot}}
    </section>
    <aside class="description">
      <h1>Description</h1>
      <textarea spellcheck="false" name="data.flavor.description"
        placeholder="Put a nice description of your creature here...">{{data.flavor.description}}</textarea>
    </aside>
  </section>
  {{/unless}}
</form>