<div class="tab tab-notes {{tab.cssClass}} flexcol" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <prose-mirror name="{{zhLocalizePath 'system.notes'}}" value="{{zhLocalize system.notes}}" toggled="true">
    {{{html.notes}}}
  </prose-mirror>
</div>