<div class="tab afflictions flexcol" data-group="primary" data-tab="afflictions">
  <ol class="items-list condition-list">
    <li class="items-header flexrow">
      <h3 class="item-name">Conditions</h3>
      <div class="item-detail it-category">Category</div>
      <div class="item-detail it-ineffect">Currently In Effect</div>
      <div class="item-controls"><a class="add-new" data-item-type="condition" data-open-packs="zweihander.conditions" title="Add New Condition"><i
            class="fa fa-plus"></i> Add</a></div>
    </li>
    <ol class="item-list">
      {{#each conditions as | condition idx |}}
      <li class="item flexrow" data-item-id="{{condition._id}}">
        <div class="item-name js-show-item-description fetch-item flexrow">
          <div class="{{itemImageClass condition.img}}" tabindex="0" role="button" aria-label="{{condition.name}}"
            style="{{itemImageStyle condition.img}}"></div>
          <h4>{{condition.name}}</h4>
        </div>
        <div class="item-detail it-category">{{condition.data.category.value}}</div>
        <div class="item-detail it-ineffect">
          <input id="{{condition._id}}" type="checkbox" class="zweihander-checkbox link-checkbox" {{checked
            condition.data.active}} />
          <label for="{{condition._id}}"></label>
        </div>
        <div class="item-controls flexrow">
          <a class="item-control item-post" title="Post Item to Chat"><i class="fas fa-comment fa-fw fa-xs"></i></a>
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-pencil-alt fa-fw fa-xs"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash-alt fa-fw fa-xs"></i></a>
        </div>
        <div class="item-summary individual-description save-toggle">
          <span class="item-summary-longform">
            <label>Effect:</label> {{{markdownIt condition.data.effect.value}}}
          </span>
        </div>
      </li>
      {{/each}}
    </ol>
    <li class="items-header flexrow">
      <h3 class="item-name">Disorders</h3>
      <div class="item-detail it-category">Category</div>
      <div class="item-detail it-ineffect">Currently In Effect</div>
      <div class="item-controls"><a class="add-new" data-item-type="disorder" data-open-packs="zweihander.disorders" title="Add New Disorder"><i
            class="fa fa-plus"></i> Add</a></div>
    </li>
    <ol class="item-list">
      {{#each disorders as | disorder idx |}}
      <li class="item flexrow" data-item-id="{{disorder._id}}">
        <div class="item-name js-show-item-description fetch-item flexrow">
          <div class="{{itemImageClass disorder.img}}" tabindex="0" role="button" aria-label="{{disorder.name}}"
            style="{{itemImageStyle disorder.img}}"></div>
          <h4>{{disorder.name}}</h4>
        </div>
        <div class="item-detail it-category">{{disorder.data.category.value}}</div>
        <div class="item-detail it-ineffect">
          <input id="{{disorder._id}}" type="checkbox" class="zweihander-checkbox link-checkbox" {{checked
            disorder.data.active}} />
          <label for="{{disorder._id}}"></label>
        </div>
        <div class="item-controls flexrow">
          <a class="item-control item-post" title="Post Item to Chat"><i class="fas fa-comment fa-fw fa-xs"></i></a>
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-pencil-alt fa-fw fa-xs"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash-alt fa-fw fa-xs"></i></a>
        </div>
        <div class="item-summary individual-description save-toggle">
          <span class="item-summary-longform">
            <label>Effect:</label> {{{markdownIt disorder.data.effect.value}}}
          </span>
        </div>
      </li>
      {{/each}}
    </ol>
    <li class="items-header flexrow">
      <h3 class="item-name">Diseases</h3>
      <div class="item-detail it-duration">Duration</div>
      <div class="item-detail it-category">Resist</div>
      <div class="item-detail it-ineffect">Currently In Effect</div>
      <div class="item-controls"><a class="add-new" data-item-type="disease" data-open-packs="zweihander.diseases" title="Add New Disease"><i
            class="fa fa-plus"></i> Add</a></div>
    </li>
    <ol class="item-list">
      {{#each diseases as | disease idx |}}
      <li class="item flexrow" data-item-id="{{disease._id}}">
        <div class="item-name js-show-item-description fetch-item flexrow">
          <div class="{{itemImageClass disease.img}}" tabindex="0" role="button" aria-label="{{disease.name}}"
            style="{{itemImageStyle disease.img}}"></div>
          <h4>{{disease.name}}</h4>
        </div>
        <div class="item-detail it-duration">{{disease.data.duration.value}}</div>
        <div class="item-detail it-category">{{disease.data.resist.value}}</div>
        <div class="item-detail it-ineffect">
          <input id="{{disease._id}}" type="checkbox" class="zweihander-checkbox link-checkbox" {{checked
            disease.data.active}} />
          <label for="{{disease._id}}"></label>
        </div>
        <div class="item-controls flexrow">
          <a class="item-control item-post" title="Post Item to Chat"><i class="fas fa-comment fa-fw fa-xs"></i></a>
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-pencil-alt fa-fw fa-xs"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash-alt fa-fw fa-xs"></i></a>
        </div>
        <div class="item-summary individual-description save-toggle">
          <span class="item-summary-longform">
            <label>Effect:</label> {{{markdownIt disease.data.effect.value}}} <br/>
            <label>Treatment:</label> {{{markdownIt disease.data.treatment.value}}}
          </span>
        </div>
      </li>
      {{/each}}
    </ol>
    <li class="items-header flexrow">
      <h3 class="item-name">Injuries</h3>
      <div class="item-detail it-category">Severity</div>
      <div class="item-detail it-ineffect">Currently In Effect</div>
      <div class="item-controls"><a class="add-new" data-item-type="injury" data-open-packs="zweihander.injuries" title="Add New Injury"><i
            class="fa fa-plus"></i> Add</a></div>
    </li>
    <ol class="item-list">
      {{#each injuries as | injury idx |}}
      <li class="item flexrow" data-item-id="{{injury._id}}">
        <div class="item-name js-show-item-description fetch-item flexrow">
          <div class="{{itemImageClass injury.img}}" tabindex="0" role="button" aria-label="{{injury.name}}"
            style="{{itemImageStyle injury.img}}"></div>
          <h4>{{injury.name}}</h4>
        </div>
        <div class="item-detail it-category">{{injury.data.severity.value}}</div>
        <div class="item-detail it-ineffect">
          <input id="{{injury._id}}" type="checkbox" class="zweihander-checkbox link-checkbox" {{checked
            injury.data.active}} />
          <label for="{{injury._id}}"></label>
        </div>
        <div class="item-controls flexrow">
          <a class="item-control item-post" title="Post Item to Chat"><i class="fas fa-comment fa-fw fa-xs"></i></a>
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-pencil-alt fa-fw fa-xs"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash-alt fa-fw fa-xs"></i></a>
        </div>
        <div class="item-summary individual-description save-toggle">
          <span class="item-summary-longform">
            <label>Effect:</label> {{{markdownIt injury.data.effect.value}}}
          </span>
        </div>
      </li>
      {{/each}}
    </ol>
    <li class="items-header flexrow">
      <h3 class="item-name">Taints of Chaos</h3>
      <div class="item-detail it-category">Category</div>
      <div class="item-detail it-ineffect">Currently In Effect</div>
      <div class="item-controls"><a class="add-new" data-item-type="taint" data-open-packs="zweihander.taints" title="Add New Taint of Chaos"><i
            class="fa fa-plus"></i> Add</a></div>
    </li>
    <ol class="item-list">
      {{#each taints as | taint idx |}}
      <li class="item flexrow" data-item-id="{{taint._id}}">
        <div class="item-name js-show-item-description fetch-item flexrow">
          <div class="{{itemImageClass taint.img}}" tabindex="0" role="button" aria-label="{{taint.name}}"
            style="{{itemImageStyle taint.img}}"></div>
          <h4>{{taint.name}}</h4>
        </div>
        <div class="item-detail it-category">{{taint.data.category.value}}</div>
        <div class="item-detail it-ineffect">
          <input id="{{taint._id}}" type="checkbox" class="zweihander-checkbox link-checkbox" {{checked
            taint.data.active}} />
          <label for="{{taint._id}}"></label>
        </div>
        <div class="item-controls flexrow">
          <a class="item-control item-post" title="Post Item to Chat"><i class="fas fa-comment fa-fw fa-xs"></i></a>
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-pencil-alt fa-fw fa-xs"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash-alt fa-fw fa-xs"></i></a>
        </div>
        <div class="item-summary individual-description save-toggle">
          <span class="item-summary-longform">
            <label>Effect:</label> {{{markdownIt taint.data.effect.value}}}
          </span>
        </div>
      </li>
      {{/each}}
    </ol>
  </ol>
</div>