<div class="tab main flexrow" data-group="primary" data-tab="main">
  <ul class="primary-attributes flexcol">
    {{#each data.stats.primaryAttributes as | characteristics key |}}
    <li class="pa pa-{{key}}">
      <h4 class="block-title">{{key}}</h4 class="block-title">
      <div class="pa-display flexrow">
        <input class="pa-value" type="number" name="data.stats.primaryAttributes.{{key}}.value"
          value="{{characteristics.value}}">
        <div class="pa-icon"><span class="{{pa2Icon key}}"></span></div>
        <div class="flexcol">
          <span class="pa-bonus">{{characteristics.bonus}}</span>
          <span class="pa-bonus-title">{{getFirstLetter key}}B</span>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="skills-container flexcol">
    <div class="skills-list save-scroll">
      {{#each skills as | skill idx |}}
      <div class="skill flexrow" data-item-id="{{skill._id}}" data-associated-pa="{{skill.data.associatedPrimaryAttribute.value}}">
        <a class="skill-roll" data-roll="1d100" data-label="{{skill.name}}">{{skill.name}} ({{getFirstLetter
          skill.data.associatedPrimaryAttribute.value}}){{#if
          skill.data.requiresTraining}}*{{else}}{{/if}}</a>
        <span class="skill-rank" title="{{skill.data.rank}}">
          {{skillRankAbbreviation skill.data.rank}}
        </span>
        <span class="skill-gain">
          {{skillBonus skill.data.bonus}}
        </span>
        {{!-- <div class="controls">
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash-alt fa-fw fa-xs"></i></a>
        </div> --}}
      </div>
      {{/each}}
    </div>
  </div>
  <div class="combat-container flexcol">
    <div class="combat-stats flexrow">
      <div class="movement">
        <h4 class="block-title">Movement</h4 class="block-title">
        <div class="values flexrow">
          <div>
            <span class="value">{{data.stats.secondaryAttributes.movement.value}}</span>
            <span class="formula">[{{getFirstLetter movementAttribute}}B]+3</span>
          </div>
          <div>
            <span class="value color-overage" data-overage="{{data.stats.secondaryAttributes.movement.overage}}">{{data.stats.secondaryAttributes.movement.overage}}</span>
            <span class="formula color-overage" data-overage="{{data.stats.secondaryAttributes.movement.overage}}">Overage</span>
          </div>
          <div>
            <span class="value">{{data.stats.secondaryAttributes.movement.current}}</span>
            <span class="formula">Current</span>
          </div>
        </div>
      </div>
      <div class="initiative">
        <h4 class="block-title">Initiative</h4 class="block-title">
        <div class="values flexrow">
          <div>
            <span class="value">{{data.stats.secondaryAttributes.initiative.value}}</span>
            <span class="formula">[{{getFirstLetter initiativeAttribute}}B]+3</span>
          </div>
          <div>
            <span class="value color-overage" data-overage="{{data.stats.secondaryAttributes.initiative.overage}}">{{data.stats.secondaryAttributes.initiative.overage}}</span>
            <span class="formula color-overage" data-overage="{{data.stats.secondaryAttributes.initiative.overage}}">Overage</span>
          </div>
          <div>
            <span class="value">{{data.stats.secondaryAttributes.initiative.current}}</span>
            <span class="formula">Current</span>
          </div>
        </div>

      </div>
    </div>
    <div class="combat-reactions flexrow">
      <div class="dodge flexcol">
        <h4 class="block-title">Dodge</h4 class="block-title">
        <div class="values flexrow">
          <a class="combat-icon dodge-roll" data-roll="1d100"
            data-label="{{data.stats.secondaryAttributes.dodge.associatedSkill}}"><span
              class="value ra ra-player-dodge"></span></a>
          <span class="value">{{data.stats.secondaryAttributes.dodge.value}}</span>
        </div>
        <select class="skill-dropdown" name="data.stats.secondaryAttributes.dodge.associatedSkill">
          {{#select data.stats.secondaryAttributes.dodge.associatedSkill}}
          {{#each dodgeSkills as | skill idx | }}
          <option value="{{skill}}">{{skill}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      <div class="parry flexcol">
        <h4 class="block-title">Parry</h4 class="block-title">
        <div class="values flexrow">
          <a class="combat-icon parry-roll" data-roll="1d100"
            data-label="{{data.stats.secondaryAttributes.parry.associatedSkill}}"><span
              class="value ra ra-round-shield"></span></a>
          <span class="value">{{data.stats.secondaryAttributes.parry.value}}</span>
        </div>
        <select class="skill-dropdown" name="data.stats.secondaryAttributes.parry.associatedSkill">
          {{#select data.stats.secondaryAttributes.parry.associatedSkill}}
          {{#each parrySkills as | skill idx | }}
          <option value="{{skill}}">{{skill}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
    </div>
    <div class="combat-spacer flexrow">
      <div class="combat-spacer-text">
        Life is difficult for even the most steel-hearted souls. Between warring nation-states, bouts of plague,
        destitution amid the working classes and threat of the supernatural, only the strong willed and tenacious are
        able to escape with a shred of sanity. Corrupted Souls were not one of those number, as unfortunate as it may
        be. Corrupted Souls come from all walks of life.They were once normal people living regular lives: soldiers and
        tailors, acolytes and apprentices, stevedores and excisemen, all trying to make an honest living. But along the
        way, something within them snapped. Perhaps watching a loved one be ripped apart by a <span
          class="fancy-zweihander">zweihander</span>, being forcibly evicted from their familial manor and seeing it
        become a noble’s new pleasure palace or just constant oppression lead them down a dark path. Some Corrupted
        Souls were never safe from corruption to begin with, as a proclivity for crime and madness are hard to escape
        when it is borne in your blood. Others, having been ravaged and broken by disease or the carrion call of the
        Abyss, have few alternatives. Corrupted Souls wander through life, angry and disillusioned with their place in
        the world yet too noble or cowardly to place their blade against their own throats. They lash out, often
        violently, against perceived slights or they will become fully devoted to their careers, to both their detriment
        and near insanity. It is a great sorrow to see friends and family devolve into these blubbering wretches and an
        even greater one to find oneself at the end of their blade.
        Corrupted Souls are still part of their world and culture; though some may be banished or outcast, they tend to
        stick to their own. Corrupted Souls will often band together for protection and the furthering of their cause,
        as made most evident by the numerous bands of thugs that stalk alleyways and country roads. It is most dangerous
        when their numbers swell: as an example, peasants bent too much under the lash of their lord can rise up and
        overthrow their masters in a bloody coup d’état. Many say man’s worst enemy is himself and you only need to
        stare into the throngs of the desperate and violent Corrupted Souls to know this fact to be true. </div>
        <div class="combat-spacer-gradient">
        
      </div>
    </div>
    <div class="condition-thresholds flexrow">
      <div class="peril flexcol">
        <h4 class="block-title">Peril Threshold</h4 class="block-title">
        <div class="values flexrow">
          <div class="threshold-value flexcol">
            <span class="value">{{data.stats.secondaryAttributes.perilThreshold.value}}</span>
            <span class="formula">[{{getFirstLetter perilThresholdAttribute}}B]+3</span>
          </div>
          <span class="values-derived-bracket">{</span>
          <div class="flexcol values-derived">
            <div>
              <span class="inline-formula">+6</span> {{data.stats.secondaryAttributes.perilThreshold.valuePlusSix}}
            </div>
            <div>
              <span class="inline-formula">+12</span> {{data.stats.secondaryAttributes.perilThreshold.valuePlusTwelve}}
            </div>
            <div>
              <span class="inline-formula">+18</span>
              {{data.stats.secondaryAttributes.perilThreshold.valuePlusEighteen}}
            </div>
          </div>
        </div>
      </div>
      <div class="damage flexcol">
        <h4 class="block-title">Damage Threshold</h4 class="block-title">
        <div class="values flexrow">
          <div class="threshold-value flexcol">
            <span class="value">{{data.stats.secondaryAttributes.damageThreshold.value}}</span>
            <span class="formula">[{{getFirstLetter damageThresholdAttribute}}B]+<span title="{{data.derived.dtm}}">DTM</span></span>
          </div>
          <span class="values-derived-bracket">{</span>
          <div class="flexcol values-derived">
            <div>
              <span class="inline-formula">+6</span> {{data.stats.secondaryAttributes.damageThreshold.valuePlusSix}}
            </div>
            <div>
              <span class="inline-formula">+12</span> {{data.stats.secondaryAttributes.damageThreshold.valuePlusTwelve}}
            </div>
            <div>
              <span class="inline-formula">+18</span>
              {{data.stats.secondaryAttributes.damageThreshold.valuePlusEighteen}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="condition-tracker flexrow">
      <div class="flexcol">
        <h4 class="block-title">Peril Tracker</h4 class="block-title">
        <div class="condition-tracker-list flexcol">
          {{radioThresholds "data.stats.secondaryAttributes.perilCurrent.value" perilOptions
          checked=data.stats.secondaryAttributes.perilCurrent.value elem="label"}}
        </div>
      </div>
      <div class="flexcol">
        <h4 class="block-title">Damage Tracker</h4 class="block-title">
        <div class="condition-tracker-list damage-list flexcol">
          {{radioThresholds "data.stats.secondaryAttributes.damageCurrent.value" damageOptions
          checked=data.stats.secondaryAttributes.damageCurrent.value elem="label"}}
        </div>
      </div>
    </div>
  </div>
</div>