<div class="tab magick flexcol" data-group="primary" data-tab="magick">
  <ol class="items-list spell-list">
    <li class="items-header flexrow">
      <h3 class="item-name">Spells</h3>
      <div class="item-detail it-category">Principle</div>
      <div class="item-detail it-distance">Distance</div>
      <div class="item-detail it-duration">Duration</div>
      <div class="item-controls"><a class="add-new" data-item-type="spell" title="Add New Spell"><i
            class="fa fa-plus"></i> Add</a></div>
    </li>
    <ol class="item-list">
      {{#each spells as | spell idx |}}
      <li class="item flexrow" data-item-id="{{spell._id}}">
        <div class="item-name fetch-item flexrow rollable">
          <div class="{{itemImageClass spell.img}} spell-roll" tabindex="0" role="button" aria-label="{{spell.name}}"
            style="{{itemImageStyle spell.img}}" data-roll="1d100"
            data-label="{{../data.stats.secondaryAttributes.magick.associatedSkill}}"></div>
          <h4 class="js-show-item-description">{{spell.name}}</h4>
        </div>
        <div class="item-detail it-category">{{spell.data.principle.value}}</div>
        <div class="item-detail it-distance fetch-property">{{spell.data.distance.value}}</div>
        <div class="item-detail it-duration fetch-property">{{spell.data.duration.value}}</div>
        <div class="item-controls flexrow">
          <a class="item-control item-post" title="Post Item to Chat"><i class="fas fa-comment fa-fw fa-xs"></i></a>
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-pencil-alt fa-fw fa-xs"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash-alt fa-fw fa-xs"></i></a>
        </div>
        <div class="item-summary individual-description save-toggle-spells">
          <span class="item-summary-longform">
            <label>Tradition:</label> {{spell.data.tradition.value}} <br />
            <label>Reagents:</label> {{spell.data.reagents.value}} <br />
            <label>Effect:</label> {{{markdownIt spell.data.effect.value}}} <br />
            <label>Critical Success:</label> {{spell.data.effect.criticalSuccess.value}} <br />
            <label>Critical Failure:</label> {{spell.data.effect.criticalFailure.value}} <br />
          </span>
        </div>
      </li>
      {{/each}}
    </ol>
    <li class="items-header flexrow">
      <h3 class="item-name">Rituals</h3>
      <div class="item-detail it-category">Difficulty</div>
      <div class="item-detail it-distance">Channel Power</div>
      <div class="item-detail it-duration">Casting Time</div>
      <div class="item-controls"><a class="add-new" data-item-type="ritual" title="Add New Ritual"><i
            class="fa fa-plus"></i> Add</a></div>
    </li>
    <ol class="item-list">
      {{#each rituals as | ritual idx |}}
      <li class="item flexrow" data-item-id="{{ritual._id}}">
        <div class="item-name js-show-item-description fetch-item flexrow">
          <div class="{{itemImageClass ritual.img}}" tabindex="0" role="button" aria-label="{{ritual.name}}"
            style="{{itemImageStyle ritual.img}}"></div>
          <h4>{{ritual.name}}</h4>
        </div>
        <div class="item-detail it-category">{{ritual.data.difficulty.value}}</div>
        <div class="item-detail it-distance">As {{ritual.data.channelAs.value}}</div>
        <div class="item-detail it-duration">{{ritual.data.castingTime.value}}</div>
        <div class="item-controls flexrow">
          <a class="item-control item-post" title="Post Item to Chat"><i class="fas fa-comment fa-fw fa-xs"></i></a>
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-pencil-alt fa-fw fa-xs"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash-alt fa-fw fa-xs"></i></a>
        </div>
        <div class="item-summary individual-description save-toggle-rituals">
          <span class="item-summary-longform">
            <label>Reagents:</label> {{ritual.data.reagents.value}}<br/>
            <label>Condition:</label> {{ritual.data.condition.value}}<br/>
            <label>Consequences:</label> {{ritual.data.consequences.value}}<br/>
            <label>Ritual Effects:</label>
            {{{markdownIt ritual.data.effect.value}}}
          </span>
        </div>
      </li>
      {{/each}}
    </ol>
  </ol>
  <div class="magick-skill-selector flexrow">
  <label>Underlying Magick Spell</label>
  <select name="data.stats.secondaryAttributes.magick.associatedSkill">
      {{#select data.stats.secondaryAttributes.magick.associatedSkill}}
      {{#each magickSkills as | skill idx | }}
      <option value="{{skill}}">{{skill}}</option>
      {{/each}}
      {{/select}}
    </select>
</div>
</div>


