{{#if (zhLocalize system.description)}}
  <div class="item-card-description">
    {{{zhLocalize system.description}}}
  </div>
{{/if}}
<div class="flexcol title-and-subtitle">
  <div class="title">{{name}}</div>
  <div class="subtitle">{{#if isRoll}}{{system.associatedSkill}}{{else}}{{localize "TYPES.Item.weapon"}}{{/if}}</div>
</div>
{{#unless isRoll}}
  <div class="pill-container">
    <span class="pill pill-difficulty--30">
      Type:
      {{system.weaponType}}
    </span>
    <span class="pill pill-difficulty--20">
      Distance:
      {{system.distance.value}}
    </span>
    <span class="pill">
      {{localize "TYPES.Item.skill"}}:
      {{system.associatedSkill}}
    </span>
    {{#each system.qualities}}<span
        class="pill pill-quality quality-link"
        data-tooltip-direction="LEFT"
        data-tooltip="{{effect}}"
      >{{localize "TYPES.Item.quality"}}: {{name}}</span>{{/each}}
  </div>
{{/unless}}