<section class="item-card">
    <h2 class="item-card-title">{{name}}</h2>
    <div class="item-card-description">
      {{{zhProcessRuleText system.flavor.description}}}
    </div>
    <br/>
    <div class="item-card-effect" data-effect-label="Effect">
      {{{zhProcessRuleText (zhLocalize system.rules.effect)}}}
    </div>
    <dl class="zh-collapsed zh-expandable" data-expand-title="{{localize "ZWEI.chatskill.itemdetails"}}">
      <dt>{{localize "ZWEI.actor.items.Tradition"}}</dt>
      <dd>{{system.tradition}}</dd>
      <dt>{{localize "ZWEI.actor.items.Principle"}}</dt>
      <dd>{{system.principle}}</dd>
      <dt>{{localize "ZWEI.actor.items.Reagents"}}</dt>
      <dd>{{{zhProcessRuleText (zhLocalize system.rules.reagents)}}}</dd>
      <dt>{{localize "ZWEI.actor.items.Duration"}}</dt>
      <dd>{{system.duration}}</dd>
      <dt>{{localize "ZWEI.actor.items.Distance"}}</dt>
      <dd>{{system.distance}}</dd>
      <dt>{{localize (zhConcat "ZWEI.chatskill." "Critical Success")}}</dt>
      <dd>{{{zhProcessRuleText (zhLocalize system.rules.criticalSuccess)}}}</dd>
      <dt>{{localize (zhConcat "ZWEI.chatskill." "Critical Failure")}}</dt>
      <dd>{{{zhProcessRuleText (zhLocalize system.rules.criticalFailure)}}}</dd>
    </dl>
  </section>