{{#if (zhLocalize system.description)}}
  <div class="item-card-description">
    {{{zhLocalize system.description}}}
  </div>
{{/if}}
<div class="flexcol title-and-subtitle">
  <div class="title">{{name}}</div>
  <div class="subtitle">{{localize (zhConcat "TYPES.Item." type)}}</div>
</div>
<div class="pill-container">
  <span class="pill pill-fortune" data-tooltip-direction="LEFT" data-tooltip="{{system.professionalTrait.name}}">{{localize "ZWEI.actor.items.professionaltraitabbr"}}:
    {{system.professionalTrait.name}}</span>
  {{#if system.specialTrait.name}}<span
      class="pill pill-fortune"
      data-tooltip-direction="LEFT"
      data-tooltip="{{system.specialTrait.name}}"
    >{{localize "ZWEI.actor.items.specialtraitabbr"}}:
      {{system.specialTrait.name}}</span>{{/if}}
  {{#if system.drawback.name}}<span
      class="pill pill-misfortune"
      data-tooltip-direction="LEFT"
      data-tooltip="{{system.drawback.name}}"
    >{{localize "TYPES.Item.drawback"}}:
      {{system.drawback.name}}</span>{{/if}}
  {{#each system.talents}}<span
      class="pill pill-quality quality-link"
      data-tooltip-direction="LEFT"
      data-tooltip="{{name}}"
    >{{localize "TYPES.Item.talent"}}: {{name}}</span>{{/each}}
</div>
<div class="item-card-effect">
  <div><span class="effect-label">{{localize "ZWEI.actor.items.archetype"}}: </span>
    {{system.archetype}}</div>
  <div class="effect-container"><span class="effect-label">{{localize "ZWEI.actor.items.skillranks"}}: </span>{{#each
      system.skillRanks
    }}{{name}}{{#unless @last}}, {{/unless}}{{/each}}</div>
  <div class="effect-container"><span class="effect-label">{{localize "ZWEI.actor.items.bonusadvances"}}: </span>{{#each
      system.bonusAdvances
    }}[{{localize (zhConcat "ZWEI.actor.bonusesabbr." (zhLowerCaseBrackets name))}}]{{#unless @last}},
      {{/unless}}{{/each}}</div>
  {{!--@todo: {{#if system.expert.value}}
    <span class="effect-label">{{localize "ZWEI.actor.items.expertreq"}}: </span>{{system.expert.requirements}}
  {{/if}}--}}
</div>