<section class="item-card">
  <h2 class="item-card-title">{{localize (zhConcat "ITEM.Type" (zhCapitalizeStrict type))}}: {{name}}</h2>
  {{!--
  {{#if system.flavor.description}}
  <div class="item-card-description">
    {{{system.flavor.description}}}
  </div>
  <br/>
  {{/if}}
  --}}
  <div class="item-card-description">
    {{{zhLocalize system.description}}}
  </div>
  <br/>
  <div class="item-card-effect" data-effect-label="{{localize "ZWEI.actor.items.effect"}}">
    {{{zhLocalize system.rules.effect}}}
  </div>
</section>