{{#if (zhLocalize system.description)}}
  <div class="item-card-description">
    {{{zhLocalize system.description}}}
  </div>
{{/if}}
<div class="flexcol title-and-subtitle">
  <div class="title">{{name}}</div>
  <div class="subtitle">{{localize (zhConcat "TYPES.Item." type)}}</div>
</div>
{{#if (zhLocalize system.rules.effect)}}
  <div class="item-card-effect" data-effect-label="{{localize 'ZWEI.actor.items.effect'}}">
    <span class="effect-label">{{localize "ZWEI.actor.items.effect"}}: </span>{{{zhLocalize system.rules.effect}}}
  </div>
{{/if}}