<section class="item-card">
    <h2 class="item-card-title">{{name}}</h2>
    <div class="item-card-description">
      {{{zhLocalize system.description}}}
    </div>
    <br/>
    <div class="item-card-effect" data-effect-label="Effect">
      {{{zhLocalize system.rules.effect}}}
    </div>
    <dl class="zh-collapsed zh-expandable" data-expand-title="{{localize "ZWEI.chatskill.itemdetails"}}">
      <dt>{{localize "ZWEI.actor.items.tradition"}}</dt>
      <dd>{{system.tradition}}</dd>
      <dt>{{localize "ZWEI.actor.items.principle"}}</dt>
      <dd>{{system.principle}}</dd>
      <dt>{{localize "ZWEI.actor.items.reagents"}}</dt>
      <dd>{{{zhLocalize system.rules.reagents}}}</dd>
      <dt>{{localize "ZWEI.actor.items.duration"}}</dt>
      <dd>{{system.duration}}</dd>
      <dt>{{localize "ZWEI.actor.items.distance"}}</dt>
      <dd>{{system.distance}}</dd>
      <dt>{{localize "ZWEI.chatskill.criticalsuccess"}}</dt>
      <dd>{{{zhLocalize system.rules.criticalSuccess}}}</dd>
      <dt>{{localize "ZWEI.chatskill.criticalfailure"}}</dt>
      <dd>{{{zhLocalize system.rules.criticalFailure}}}</dd>
    </dl>
  </section>