<div data-item-id="{{weapon._id}}">
  {{{cardContent}}}
  <div class="pill-container">
    {{#if exploded}}<span class="pill pill-{{exploded}}">{{localize "ZWEI.chatskill.explodedwith"}} {{localize (zhConcat "ZWEI.rolls." exploded)}} {{#if (gte explodedCount 2)}}(x{{explodedCount}}){{/if}}</span>{{/if}}
  </div>
  {{{rollContent}}}
  <div class="skill-test-controls">
    <div class="flexrow">
      <button type="button" class="damage-roll-explode" disabled><i class="fas fa-sync-alt"></i><br />{{localize "ZWEI.chatskill.explodewithfortune"}}</button>
      <button type="button" class="damage-roll-explode-misfortune" disabled><i class="fas fa-sync-alt"></i><br />{{localize "ZWEI.chatskill.explodewithmisfortune"}}</button>
    </div>
  </div>
</div>