<li class="chat-message zweihander-chat-message message flexcol {{cssClass}}" data-message-id="{{message._id}}" {{#if borderColor}}style="border-color:{{borderColor}}" {{/if}}>
  <header class="message-header">
    <div class="flexrow">
      <img class="chat-profile-image" src="{{zhSpeakerPic message}}" />
      <div>
        <time class="message-timestamp">{{timeSince message.timestamp}}</time>
        {{#if user.isGM}}
        <a class="button message-delete" data-action="deleteMessage"><i class="fas fa-trash-alt"></i></a>
        {{/if}}
        <h4 class="message-sender">{{alias}}</h4>
        <span class="message-metadata">
          {{#if isWhisper}}
          <span class="whisper-to">{{localize 'CHAT.To'}}: {{whisperTo}}</span>
          {{/if}}
        </span>
        {{#if message.flavor}}
        <div class="flavor-text">{{{message.flavor}}}</div>
        {{/if}}
      </div>
    </div>
    
  </header>
  <div class="message-content">
    {{{message.content}}}
  </div>
</li>