<div class="flexcol weapon-content" data-item-id="{{weapon._id}}">
  <div class="item-card-description">
    {{{zhLocalize weapon.system.description}}}
  </div>
  <div class="flexcol title-and-subtitle">
    <div class="title">{{weapon.name}}</div>
    <div class="subtitle">{{localize "ZWEI.rolls.furydie"}}</div>
  </div>
  {{{cardContent}}}
  <div class="pill-container">
    {{#each weapon.system.qualities}}<span
        class="pill pill-quality quality-link"
        data-tooltip-direction="LEFT"
        data-tooltip="{{effect}}"
      >{{localize "TYPES.Item.quality"}}: {{name}}</span>{{/each}}
    {{#if exploded}}
      <span class="pill pill-{{exploded}}">{{localize "ZWEI.chatskill.explodedwith"}}
        {{localize (zhConcat "ZWEI.rolls." exploded)}}{{#if (gte explodedCount 2)}}(x{{explodedCount}}){{/if}}
      </span>
    {{/if}}
  </div>
  <div class="dice-roll" data-action="expandRoll">
    <div class="dice-result">
      <h4 class="dice-total outcome-damage"><span class="outcome-text">{{total}}</span><br /><span
          class="vs-chance"
        >{{formula}}</span></h4>
      {{{tooltip}}}
    </div>
  </div>
  {{{rollContent}}}
  <div class="skill-test-controls flexrow damage">
    <button type="button" class="damage-roll-explode" disabled><i class="fas fa-burst"></i>{{localize
        "ZWEI.chatskill.explodewithfortune"
      }}</button>
    <button type="button" class="damage-roll-explode-misfortune" disabled><i class="fas fa-burst"></i>{{localize
        "ZWEI.chatskill.explodewithmisfortune"
      }}</button>
  </div>
</div>