<div class="skill-test" data-item-id="{{itemId}}">
{{#if spellTest}}
  {{> ($$ "item-card/item-card-spell") spell }}
{{else}}
  <h2 class="skill-test-title">{{localize (zhConcat "ZWEI.actor.skills." skill)}}</h2>
{{/if}}
<dl class="compact-details compact-details-centered zh-collapsed zh-expandable" data-expand-title="{{localize "ZWEI.chatskill.rolldetails"}}">
  <dt>{{localize (zhConcat "ZWEI.actor.primary." (zhLowerCase primaryAttribute))}}</dt><dd> {{zhExplicitSign primaryAttributeValue}}%</dd>
  <dt>{{localize "ZWEI.chatskill.skillrank"}}</dt><dd> {{zhExplicitSign rankBonus}}%</dd>
  <dt>{{localize "ZWEI.chatskill.penaltyperil"}}</dt><dd> {{zhExplicitSign perilPenalty}}%</dd>
  <dt>{{localize "ZWEI.chatskill.specialmod"}}</dt><dd> {{zhExplicitSign specialBaseChanceModifier}}%</dd>
  <dt>{{localize "ZWEI.chatskill.cappedchance"}}</dt><dd> {{baseChance}}%</dd>
  {{#if spellTest}}
  <dt>{{localize "ZWEI.chatskill.rawdifficulty"}}</dt><dd> {{zhExplicitSign difficultyRating.raw}}% ({{zhCapitalize spell.system.principle}} Magick)</dd>
  <dt>{{localize "ZWEI.chatskill.channelpower"}}</dt><dd> {{zhExplicitSign difficultyRating.channelPowerBonus}}%</dd>
  <dt>{{localize "ZWEI.chatskill.totaldifficulty"}}</dt>{{else}}<dt>{{localize "ZWEI.chatskill.difficulty"}}</dt>{{/if}}<dd> {{zhExplicitSign difficultyRating.total}}%</dd>
  <dt>{{localize "ZWEI.chatskill.resultflipped"}}</dt><dd> {{#if effectivelyFlipped}} {{localize "ZWEI.chatskill.yes"}} {{else}} {{localize "ZWEI.chatskill.no"}} {{/if}}</dd>
</dl>
<div class="pill-container">
    <span class="pill pill-roll-mode">{{localize (zhConcat "ZWEI.rolls." testModeLabel)}} ({{diceFormula}})</span>
    <span class="pill pill-difficulty-{{difficultyRating.total}}">{{localize (zhConcat "ZWEI.rolls." difficultyRating.label)}}</span>
    {{#if flipToFail}}<span class="pill pill-flip-fail">{{localize "ZWEI.rolls.flipfail"}}</span>{{/if}}
    {{#if flipToSucceed}}<span class="pill pill-flip-succeed">{{localize "ZWEI.rolls.flipsucceed"}}</span>{{/if}}
    {{#if usedFortune}}<span class="pill pill-fortune">{{localize "ZWEI.rolls.usefortune"}}</span>{{/if}}
    {{#if usedMisfortune}}<span class="pill pill-misfortune">{{localize "ZWEI.rolls.usemisfortune"}}</span>{{/if}}
    {{#if isReroll}}<span class="pill pill-reroll">{{localize "ZWEI.rolls.reroll"}}</span>{{/if}}
    {{#if spellTest}}<span class="pill">{{localize "ZWEI.rolls.test"}}: {{localize (zhConcat "ZWEI.actor.skills." skill)}}</span>{{/if}}
</div>
<div class="dice-roll">
    <div class="dice-result">
        <div class="dice-formula">{{localize "ZWEI.chatskill.totalchance"}}:  {{totalChance}}%</div>
        {{{tooltip}}}
        <h4 class="dice-total outcome-{{effectiveOutcome}}">{{localize (zhConcat "ZWEI.chatskill." outcomeLabel)}}: {{roll}}</h4>
    </div>
</div>

{{#if chaosManifestation}}
  <div class="additional-outcome-info chaos-manifestation">
    {{localize "ZWEI.chatskill.chaosspawns" principle=(localize (zhConcat "ZWEI.rolls.principetypes." (zhLowerCase spell.system.principle)))}}
  </div>
{{/if}}

{{#if degreesOfSuccess}}
  <div class="additional-outcome-info">
    {{localize "ZWEI.chatskill.degrees"}}: {{degreesOfSuccess}}
  </div>
{{/if}}

<div class="skill-test-controls">
  <div class="flexrow">
    <button type="button" class="skill-test-reroll" disabled><i class="fas fa-sync-alt"></i><br/>{{localize "ZWEI.chatskill.goreroll"}}</button>
    {{#if weaponTest}}
    <button type="button" class="skill-test-damage" disabled><i class="ra ra-sword"></i><br/>{{localize "ZWEI.chatskill.godamage"}}</button>
    <button type="button" class="skill-test-parry" disabled><i class="ra ra-round-shield"></i><br/>{{localize "ZWEI.chatskill.goparry"}}</button>
    <button type="button" class="skill-test-dodge" disabled><i class="ra ra-player-dodge"></i><br/>{{localize "ZWEI.chatskill.gododge"}}</button>
    {{/if}}
  </div>
</div>