<div data-item-id="{{weapon._id}}">
  {{{cardContent}}}
  <div class="pill-container">
    {{#if exploded}}<span class="pill pill-{{exploded}}">Exploded with {{capitalize exploded}}</span>{{/if}}
  </div>
  {{{rollContent}}}
  <div class="skill-test-controls">
    <div class="flexrow">
      <button type="button" class="damage-roll-explode" disabled><i class="fas fa-sync-alt"></i><br />Explode with Fortune</button>
      <button type="button" class="damage-roll-explode-misfortune" disabled><i class="fas fa-sync-alt"></i><br />Explode with Misfortune</button>
    </div>
  </div>
</div>