<ol class="requirements-list flexcol">
  {{#each languages as |language i|}}
    <li class="requirements-change flexrow">
      <div class="key">
        <input type="text" name="languages.[{{i}}].name" value="{{language.name}}" placeholder="Language Name" />
      </div>
      <div class="value">
        <input type="checkbox" name="languages.[{{i}}].isLiterate" {{checked language.isLiterate}} />
      </div>
      <div class="requirements-controls">
        <a
          class="requirements-control"
          data-action="deleteLanguage"
          data-tooltip="Delete Language"
          data-tooltip-direction="UP"
          data-index="{{i}}"
        ><i class="fas fa-trash-alt"></i></a>
      </div>
    </li>
  {{/each}}
</ol>