{{#unless limited}}
  <div class="tab main flexrow {{tab.cssClass}} decal-target" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <ul class="primary-attributes flexcol">
      {{#each system.stats.primaryAttributes as | attr key | }}
      <li class="pa pa-{{key}}">
        <h4 class="block-title">{{localize (zhConcat "ZWEI.actor.primary." key)}}</h4 class="block-title">
        <div class="pa-display flexrow">
          {{> ($$ "partials/modded-value") isModified=(zhIsValueModified attr.value attr.baseValue) isPositive=(zhIsModifierPositive attr.value attr.baseValue) value=attr.value baseValue=attr.baseValue mods=(zhModifiersLookup @root.modifiersLookup (concat 'system.stats.primaryAttributes.' key '.value'))}}
          <div class="pa-wrapper">
            <input class="pa-value" type="number" name="system.stats.primaryAttributes.{{key}}.value"
              value="{{attr.value}}" {{#if (zhIsValueModified attr.value attr.baseValue)}}disabled{{else}}{{/if}}/>
          </div>
          
          <div class="pa-icon"><span class="{{lookup ../config.primaryAttributeIcons key}}"></span></div>
          <div class="flexcol">
            <div class="pa-bonus"><span>{{attr.bonus}}</span>{{> ($$ 'partials/modded-value') isModified=(zhIsValueModified attr.bonus attr.baseBonus) isPositive=(zhIsModifierPositive attr.bonus attr.baseBonus) value=attr.bonus baseValue=attr.baseBonus extraClass="bonus" mods=(zhModifiersLookup @root.modifiersLookup (concat 'system.stats.primaryAttributes.' key '.bonus'))}}</div>
            <span class="pa-bonus-title">{{localize (zhConcat "ZWEI.actor.bonuses." (zhLowerCase key))}}</span>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="skills-container flexcol">
      {{> ($$ "partials/skills-list" )}}
    </div>
    {{!--@todo: refactor this mess into actual context prep--}}
    {{#with system.stats.secondaryAttributes}}
    <div class="combat-container flexcol">
      <div class="combat-stats flexrow">
        <div class="movement flexcol">
          <h4 class="block-title">{{localize "ZWEI.actor.secondary.movement"}}</h4 class="block-title">
          <div class="values flexrow">
            <div>
              <div class="value" data-testid="movement">{{> ($$ 'partials/modded-value') isModified=(zhIsValueModified movement.value movement.baseValue) isPositive=(zhIsModifierPositive movement.value movement.baseValue) value=movement.value baseValue=movement.baseValue extraClass="combat" mods=(zhModifiersLookup @root.modifiersLookup 'system.stats.secondaryAttributes.movement.value')}}<span>{{movement.value}}</span></div>
              <span class="formula">[{{localize (zhConcat "ZWEI.actor.bonuses." (zhLowerCase ../actorConfig.movAttribute))}}]+3</span>
            </div>
            <div>
              <span class="value color-overage" data-overage="{{movement.overage}}">{{movement.overage}}</span>
              <span class="formula color-overage" data-overage="{{movement.overage}}">{{localize "ZWEI.actor.secondary.overage"}}</span>
            </div>
            <div>
              <span class="value">{{movement.current}}</span>
              <span class="formula">{{localize "ZWEI.actor.secondary.current"}}</span>
            </div>
          </div>
        </div>
        <div class="initiative flexcol">
          <h4 class="block-title">{{localize "ZWEI.actor.secondary.initiative"}}</h4 class="block-title">
          <div class="values flexrow">
            <div>
              <div class="value" data-testid="initiative">{{> ($$ 'partials/modded-value') isModified=(zhIsValueModified initiative.value initiative.baseValue) isPositive=(zhIsModifierPositive initiative.value initiative.baseValue) value=initiative.value baseValue=initiative.baseValue extraClass="combat" mods=(zhModifiersLookup @root.modifiersLookup 'system.stats.secondaryAttributes.initiative.value')}}<span>{{initiative.value}}</span></div>
              <span class="formula">[{{localize (zhConcat "ZWEI.actor.bonuses." (zhLowerCase ../actorConfig.intAttribute))}}]+3</span>
            </div>
            <div>
              <span class="value color-overage" data-overage="{{initiative.overage}}">{{initiative.overage}}</span>
              <span class="formula color-overage" data-overage="{{initiative.overage}}">{{localize "ZWEI.actor.secondary.overage"}}</span>
            </div>
            <div>
              <span class="value">{{initiative.current}}</span>
              <span class="formula">{{localize "ZWEI.actor.secondary.current"}}</span>
            </div>
          </div>

        </div>
      </div>
      <div class="combat-reactions flexrow">
        <div class="dodge flexcol">
          <h4 class="block-title">{{localize "ZWEI.actor.secondary.dodge"}}</h4 class="block-title">
          <div class="values flexrow">
            <a class="combat-icon dodge-roll" data-roll="1d100"
              data-label="{{dodge.associatedSkill}}"><span
                class="value ra ra-player-dodge"></span></a>
            <span class="value">{{dodge.value}}</span>
          </div>
          <select class="skill-dropdown" name="system.stats.secondaryAttributes.dodge.associatedSkill">
            {{!-- In case the system.stats.secondaryAttributes.parry.associatedSkill is not in the dodge skill list
            <option value="{{system.stats.secondaryAttributes.dodge.associatedSkill}}">{{system.stats.secondaryAttributes.dodge.associatedSkill}}</option>
            --}}
            {{#each ../choices.dodgeSkills}}
              <option value="{{value}}" {{selected}}>{{label}}</option>
            {{/each}}
          </select>
        </div>
        <div class="parry flexcol">
          <h4 class="block-title">{{localize "ZWEI.actor.secondary.parry"}}</h4 class="block-title">
          <div class="values flexrow">
            <a class="combat-icon parry-roll" data-roll="1d100"
              data-label="{{parry.associatedSkill}}"><span
                class="value ra ra-round-shield"></span></a>
            <span class="value">{{parry.value}}</span>
          </div>
          <select class="skill-dropdown" name="system.stats.secondaryAttributes.parry.associatedSkill">
            {{!-- In case the system.stats.secondaryAttributes.parry.associatedSkill is not in the parry skill list
            <option value="{{system.stats.secondaryAttributes.parry.associatedSkill}}">{{system.stats.secondaryAttributes.parry.associatedSkill}}</option>
            --}}
            {{#each ../choices.parrySkills}}
              <option value="{{value}}" {{selected}}>{{label}}</option>
            {{/each}}
          </select>
        </div>
        <div class="madness flexcol">
          <h4 class="block-title">{{localize "ZWEI.actor.secondary.madness"}}</h4 class="block-title">
          <div class="values flexrow">
            <a class="combat-icon madness-roll" data-roll="1d100"
              data-label="{{madness.associatedSkill}}"><span
                class="value ra ra-player-despair"></span></a>
            <span class="value">{{madness.value}}</span>
          </div>
          <select class="skill-dropdown" name="system.stats.secondaryAttributes.madness.associatedSkill">
            {{#each ../choices.perilSkills}}
              <option value="{{value}}" {{selected}}>{{label}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="condition-thresholds flexrow">
        <div class="peril flexcol">
          <h4 class="block-title">{{localize "ZWEI.actor.secondary.perilthreshold"}}</h4 class="block-title">
          <div class="values flexrow">
            <div class="threshold-value flexcol">
              <div class="value peril" data-testid="peril">{{> ($$ 'partials/modded-value') isModified=(zhIsValueModified perilThreshold.value perilThreshold.baseValue) isPositive=(zhIsModifierPositive perilThreshold.value perilThreshold.baseValue) value=perilThreshold.value baseValue=perilThreshold.baseValue extraClass="combat" mods=(zhModifiersLookup @root.modifiersLookup 'system.stats.secondaryAttributes.perilThreshold.value')}}<span>{{perilThreshold.value}}</span></div>
              <span class="formula">[{{localize (zhConcat "ZWEI.actor.bonuses." (zhLowerCase ../actorConfig.pthAttribute))}}]+3</span>
            </div>
            <span class="values-derived-bracket">{</span>
            <div class="flexcol values-derived">
              <div>
                <span class="inline-formula">+6</span> {{zhAdd perilThreshold.value '6'}}
              </div>
              <div>
                <span class="inline-formula">+12</span> {{zhAdd perilThreshold.value '12'}}
              </div>
              <div>
                <span class="inline-formula">+18</span>
                {{zhAdd perilThreshold.value '18'}}
              </div>
            </div>
          </div>
        </div>
        <div class="damage flexcol">
          <h4 class="block-title">{{localize "ZWEI.actor.secondary.damagethreshold"}}</h4 class="block-title">
          <div class="values flexrow">
            <div class="threshold-value flexcol">
              <div class="value damage" data-testid="damage">{{> ($$ 'partials/modded-value') isModified=(zhIsDtmModified damageThreshold.value damageThreshold.baseValue damageThreshold.dtm) isPositive=(zhIsDthModifierPositive damageThreshold.value damageThreshold.baseValue damageThreshold.dtm) value=damageThreshold.value baseValue=damageThreshold.baseValue extraClass="combat" mods=(zhModifiersLookup @root.modifiersLookup 'system.stats.secondaryAttributes.damageThreshold.value' dtm=damageThreshold.dtm)}}<span>{{damageThreshold.value}}</span></div>
              <span class="formula">[{{localize (zhConcat "ZWEI.actor.bonuses." (zhLowerCase ../actorConfig.dthAttribute))}}]+{{damageThreshold.dtm}}</span>
            </div>
            <span class="values-derived-bracket">{</span>
            <div class="flexcol values-derived">
              <div>
                <span class="inline-formula">+6</span> {{zhAdd damageThreshold.value '6'}}
              </div>
              <div>
                <span class="inline-formula">+12</span> {{zhAdd damageThreshold.value '12'}}
              </div>
              <div>
                <span class="inline-formula">+18</span>
                {{zhAdd damageThreshold.value '18'}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="condition-tracker flexrow">
        <div class="flexcol">
          <h4 class="block-title">{{localize "ZWEI.actor.secondary.periltracker"}}</h4 class="block-title">
          <div class="condition-tracker-list flexcol">
            {{zhConditionLadderLoc "system.stats.secondaryAttributes.perilCurrent.value" (zhGetPerilSystem)
            checked=perilCurrent.value}}
          </div>
        </div>
        <div class="flexcol">
          <h4 class="block-title">{{localize "ZWEI.actor.secondary.damagetracker"}}</h4 class="block-title">
          <div class="condition-tracker-list damage-list flexcol">
            {{zhConditionLadderLoc "system.stats.secondaryAttributes.damageCurrent.value" ../config.damageOptions
            checked=damageCurrent.value}}
          </div>
        </div>
      </div>
    </div>
    {{/with}}
  </div>
{{/unless}}