{{#unless limited}}
  <div class="tab {{tab.id}} {{tab.cssClass}} decal-target flexcol" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div>
      <h4 class="block-title">{{localize "ZWEI.actor.background.biography"}}</h4>
      <prose-mirror
        name="{{zhLocalizePath 'system.description'}}"
        value="{{zhLocalize system.description}}"
        toggled="true"
      >
        {{log this}}
        {{zhLocalize html.description}}
      </prose-mirror>
    </div>
    <div>
      <h4 class="block-title">{{localize "ZWEI.actor.background.characternotes"}}</h4>
      <prose-mirror name="{{zhLocalizePath 'system.notes'}}" toggled="true">
        {{zhLocalize html.notes}}
      </prose-mirror>
    </div>
  </div>
{{/unless}}