<header>
  <figure class="actor-image">
    <img src="{{actor.img}}" title="{{actor.name}}" data-action="editImage" data-edit="img" />
  </figure>
  <h1 class="actor-name">
    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'ZWEI.actor.header.npcname'}}" />
  </h1>
  {{#unless limited}}
    <section class="actor-resources">
      <section class="damage-ladder">
        <h1>{{localize "ZWEI.actor.secondary.damage"}}</h1>
        {{zhConditionLadderLoc
          "system.stats.secondaryAttributes.damageCurrent.value"
          config.vehicleDamageOptions
          checked=system.stats.secondaryAttributes.damageCurrent.value
        }}
      </section>
    </section>
  {{/unless}}
</header>