<div class="currency-container flexrow">
  {{#each settings.currencies as | currency i | }}
  <div class="currency flexcol">
    <input class="coin-input" style="color:{{currency.color}}" type="number"
      name="system.currency.{{currency.abbreviation}}" value="{{lookup ../system.currency currency.abbreviation}}"
      placeholder="0" />
    <span style="color:{{currency.color}}"><i class="fas fa-coins"></i> {{name}}</span>
    <span>
      {{#unless @last}}
      <span style="color:{{currency.color}}">
        1
        {{zhLookup../settings.currencies (concat i '.abbreviation') }}
      </span>
      =
      <span style="color:{{zhLookup../settings.currencies (concat (zhAdd i '1') '.color') }}">
        {{zhLookup../settings.currencies (concat i '.equivalentOfLower') }}
        {{zhLookup../settings.currencies (concat (zhAdd i '1') '.abbreviation') }}
      </span>
      {{/unless}}
    </span>
  </div>
  {{/each}}
  {{!-- <button class="currency-converter" type="button"><i class="fa fa-exchange-alt"></i> Exchange</button> --}}
</div>