<div class='encumbrance-bar-container'>
  <span class='encumbrance-bar'></span>
  <span class='encumbrance-label'>{{localize 'ZWEI.actor.items.encumbrance'}}:
    {{system.stats.secondaryAttributes.encumbrance.current}}
    /
    {{system.stats.secondaryAttributes.encumbrance.value}}
    {{zhModifiedEncumbrance system.stats.secondaryAttributes.encumbrance}}
    <span class='overage-display'>(Overage:
      {{system.stats.secondaryAttributes.encumbrance.overage}})</span></span>
  <i class='encumbrance-breakpoint encumbrance-33 arrow-up'></i>
  <i class='encumbrance-breakpoint encumbrance-33 arrow-down'></i>
  <i class='encumbrance-breakpoint encumbrance-66 arrow-up'></i>
  <i class='encumbrance-breakpoint encumbrance-66 arrow-down'></i>
</div>