<header class="actor-sheet-header">
  <section class="character-info">
    <header>
      <h1>
        <input name="name" type="text" value="{{actor.name}}" placeholder='{{localize "ZWEI.actor.header.charactername"}}'>
      </h1>
      {{#unless limited}}
      <aside class="character-rp flexcol">
        <label class="rp-title"> {{localize "ZWEI.actor.header.rewardpoints"}}</label>
        <div class="rp-content flexrow">
          <input class="rp-spent" type="number" name="system.stats.rewardPoints.current"
            value="{{system.stats.rewardPoints.current}}"{{#if settings.trackRewardPoints}} readonly{{/if}} />
          <span class="sep">/</span>
          <input class="rp-gained" type="number" name="system.stats.rewardPoints.total"
            value="{{system.stats.rewardPoints.total}}" />
        </div>
        <div class="rp-other-pts flexrow">
          <span class="sep fate-rep">{{localize "ZWEI.actor.header.fate"}} </span>
          <input class="rp-fate" type="number" name="system.stats.fate" value="{{system.stats.fate}}" />
          <span class="sep fate-rep">{{localize "ZWEI.actor.header.reputationabbr"}} </span>
          <input class="rp-rep" type="number" name="system.stats.reputation" value="{{system.stats.reputation}}" />
        </div>
      </aside>
      {{/unless}}
    </header>
    {{> ($$ 'partials/details-list') }}
    {{#unless limited}}
    <div class="empty-placeholder"></div>
    <input class="character-dooming" name="system.details.dooming" type="text" value="{{system.details.dooming}}"
      placeholder='{{localize "ZWEI.actor.header.dooming"}}' />
    <section class="alignment-header">
      <input class="order-title" name="system.alignment.order.name" type="text" value="{{system.alignment.order.name}}"
        placeholder='{{localize "ZWEI.actor.header.orderalignment"}}' />
      <h1 class="flexrow">{{localize "ZWEI.actor.header.corruption"}}
        <a class="reset-ranks"><i class="fas fa-sync-alt"></i></a>
      </h1>
      <input class="chaos-title" name="system.alignment.chaos.name" type="text" value="{{system.alignment.chaos.name}}"
        placeholder='{{localize "ZWEI.actor.header.chaosalignment"}}' />
    </section>
    <section class="alignment-content">
      <section class="order-track">
        {{zhAlignmentRanks "system.alignment.order.rank" config.alignmentRanks actorConfig.permanentOrderRanks
        checked=system.alignment.order.rank}}
      </section>
      <input class="corruption" name="system.alignment.corruption" type="number" value="{{system.alignment.corruption}}">
      <section class="chaos-track">
        {{zhAlignmentRanks "system.alignment.chaos.rank" config.alignmentRanks actorConfig.permanentChaosRanks
        checked=system.alignment.chaos.rank}}
      </section>
    </section>
    {{/unless}}
  </section>
</header>