
{{#unless limited}}
  <section class="sheet-body">
    {{> ($$ "character/tab-main") }}
    {{#each tabs}}
      <div class="tab {{@key}} flexcol" data-group="primary" data-tab="{{@key}}">
        {{#if headerTemplate}}{{> ($$ headerTemplate) ../.}}{{/if}}
        {{> ($$ "partials/items-list") itemGroups}}
        {{#if footerTemplate}}{{> ($$ footerTemplate) ../.}}{{/if}}
      </div>
    {{/each}}
    <div class="tab background flexcol" data-group="primary" data-tab="details">
      <div>
        <h4 class="block-title">{{localize "ZWEI.actor.background.biography"}}</h4>
        {{editor (zhLocalize system.description) target=(zhLocalizePath "system.description") engine="prosemirror" button=true owner=owner
        editable=editable rollData=rollData}}
      </div>
      <div>
        <h4 class="block-title">{{localize "ZWEI.actor.background.characternotes"}}</h4>
        {{editor system.notes target="system.notes" button=true owner=owner engine="prosemirror" editable=editable
        rollData=rollData}}
      </div>
    </div>
  </section>
{{/unless}}
