{{#unless limited}}
  <nav class="sheet-navigation tabs">
    {{#each tabs as |tab|}}
      <a class="item {{#if tab.cssClass}}{{tab.cssClass}}{{/if}}" data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}">
        {{localize tab.label}}
      </a>
    {{/each}}
  </nav>
  {{!--
  <nav class="sheet-navigation sheet-tabs tabs" data-group="primary">
    <a class="item" data-action="tab" data-tab="main">{{localize "ZWEI.actor.navigation.attributes"}}</a>
    <a class="item" data-action="tab" data-tab="tiers">{{localize "ZWEI.actor.navigation.tiers"}}</a>
    <a class="item" data-action="tab" data-tab="trappings">{{localize "ZWEI.actor.navigation.trappings"}}</a>
    {{#if actorConfig.isMagickUser}}
      <a class="item" data-action="tab" data-tab="magick">{{localize "ZWEI.actor.navigation.magick"}}</a>
    {{/if}}
    <a class="item" data-action="tab" data-tab="afflictions">{{localize "ZWEI.actor.navigation.afflictions"}}</a>
    <a class="item" data-action="tab" data-tab="details">{{localize "ZWEI.actor.navigation.background"}}</a>
  </nav>
  --}}
{{/unless}}