<div class="form-group">
  <label>Encumbrance</label>
  <input  name="data.encumbrance.value" type="number" value="{{data.encumbrance.value}}">
</div>

<div class="form-group">
  <label>Damage Threshold Modifier</label>
  <input  name="data.damageThresholdModifier.value" type="number" value="{{data.damageThresholdModifier.value}}">
</div>

<div class="form-group">
  <label>Qualities</label>
  <input  name="data.qualities.value" type="text" value="{{data.qualities.value}}">
</div>

{{zhPriceInputs data.price}}

<div class="form-group stacked">
  <label>Status</label>
  <label class="checkbox">
    <input name="data.equipped" type="checkbox" class="link-checkbox" {{checked data.equipped}} />
    Equipped
  </label>
</div>