<div class="form-group">
  <label>Distance</label>
  <input name="data.distance" type="text" value="{{data.distance}}">
</div>

<div class="form-group">
  <label>Tradition</label>
  <input name="data.tradition" type="text" value="{{data.tradition}}">
</div>

<div class="form-group">
  <label>Principle</label>
  <input name="data.principle" type="text" value="{{data.principle}}">
</div>

<div class="form-group stacked">
  <label><a class="open-editor">Reagents <i class="fa fa-edit"></i></a></label>
    <div class="zh-editor-preview open">{{{processRuleText (zhLocalize data.rules.reagents)}}}</div>
  {{editor content=(zhLocalize data.rules.reagents) target=(zhLocalizePath "data.rules.reagents") button=true owner=owner editable=editable}}
</div>

<div class="form-group">
  <label>Duration</label>
  <input name="data.duration" type="text" value="{{data.duration}}">
</div>

{{#if (eq settings.gameSystem 'fof') }}
<div class="form-group">
  <label>Casting Time</label>
  <input name="data.castingTime" type="text" value="{{data.castingTime}}">
</div>
<div class="form-group">
  <label>Casting AP Cost</label>
  <input name="data.castingCost" type="number" value="{{data.castingCost}}">
</div>
{{/if}}

<div class="form-group stacked">
  <label><a class="open-editor">Effect <i class="fa fa-edit"></i></a></label>
    <div class="zh-editor-preview open">{{{processRuleText (zhLocalize data.rules.effect)}}}</div>
  {{editor content=(zhLocalize data.rules.effect) target=(zhLocalizePath "data.rules.effect") button=true owner=owner editable=editable}}
</div>

<div class="form-group stacked">
  <label><a class="open-editor">Critical Success <i class="fa fa-edit"></i></a></label>
    <div class="zh-editor-preview open">{{{processRuleText (zhLocalize data.rules.criticalSuccess)}}}</div>
  {{editor content=(zhLocalize data.rules.criticalSuccess) target=(zhLocalizePath "data.rules.criticalSuccess") button=true owner=owner editable=editable}}
</div>

<div class="form-group stacked">
  <label><a class="open-editor">Critical Failure<i class="fa fa-edit"></i></a></label>
    <div class="zh-editor-preview open">{{{processRuleText (zhLocalize data.rules.criticalFailure)}}}</div>
  {{editor content=(zhLocalize data.rules.criticalFailure) target=(zhLocalizePath "data.rules.criticalFailure") button=true owner=owner editable=editable}}
</div>