<div class="form-group">
  <label>Trapping Type</label>
  <input name="{{zhLocalizePath 'data.details.category'}}" type="text" value="{{zhLocalize data.details.category}}">
</div>

<div class="form-group">
  <label>Quantity</label>
  <input name="data.quantity" type="number" value="{{data.quantity}}">
</div>

<div class="form-group">
  <label>Encumbrance (Single)</label>
  <input name="data.encumbrance" type="number" value="{{data.encumbrance}}">
</div>

<div class="form-group stacked">
  <label><a class="open-editor">Effect <i class="fa fa-edit"></i></a></label>
    <div class="zh-editor-preview open">{{{processRuleText (zhLocalize data.rules.effect)}}}</div>
  {{editor content=(zhLocalize data.rules.effect) target=(zhLocalizePath "data.rules.effect") button=true owner=owner editable=editable}}
</div>

{{zhPriceInputs data.price}}

{{!-- <div class="form-group stacked">
  <label>Status</label>
  <label class="checkbox">
    <input name="data.carried" type="checkbox" class="link-checkbox" {{checked data.carried}} />
    Carried
  </label>
</div> --}}
